
.header-intro__descr_size_h3 text field
.subscription-text-field__wrapper
    label(class='subscription-text-field__label') 
        input(class='subscription-text-field__input', type='text', placeholder='Email' )
        button(type='submit',class='subscription-text-field__submit')
            |arrow_forward