include ../text-button/text-button

mixin dropdown({ title, content, initial} = {})
  if content === "furniture"
    - 
      items = ["Спальни", "Кровати", "Ванные комнаты"]
  else 
    - 
      items = ["Взрослые", "Дети", "Младенцы"]
  h3.dropdown__title=title
  -
    const contents = {
      guests: "dropdown_content_guests js-dropdown_content_guests",
      furniture: "dropdown_content_furniture js-dropdown_content_furniture",
    }
    const classes = [contents[content]]
  div(class = classes, class ="dropdown" data-initial=initial)
    .dropdown__expand.js-dropdown__expand
      |expand_more
    p.dropdown__selection.js-dropdown__selection
    .dropdown__menu.js-dropdown__menu
      each item, index in items 
        div(class="dropdown__menu-option js-dropdown__menu-option" data-id = "item" + (index + 1) )
          .dropdown__item=item 
      if (content==="guests") 
        .dropdown__buttons
          .dropdown__set.js-dropdown__set
            +text-button({title: "применить"})
          .dropdown__clear.js-dropdown__clear
            +text-button({title: "очистить"})
