.room-details__wrapper{
  display: flex;
	flex-direction: column;
	min-height: 100%;
}
.room-details__main{
  flex: 1 0 auto;
}
.room-details__photos {
  width: 100%;
  max-width: 1920px;

  display: flex;
}
.room-details__main-photo{
  display: block;
  width: 68.125%;
  // width: 981px;
}
.room-details__side-photos{
  width: 100-68.125%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.room-details__info{
  width: 80.6%;
  max-width: 1920*0.81px;
  margin: 70px auto;

  display: grid;
  // grid-template-columns: 25% 29% 33%;
  grid-template-columns: 1fr 1.2fr 1.31fr;
  // grid-template-columns: 291px 352px 380px;


  grid-template-areas: 
    "convenience pie check"
    "comment comment check"
    "bullet cancel .";
  
  row-gap: 28px;
  column-gap: 70px;
  
}
.room-details__convenience{
  grid-area: convenience;
}

.room-details__pie{
  grid-area: pie;
}

.room-details__check{
  grid-area: check;
  // justify-self: right;
}
.room-details__comment{
  grid-area: comment;
}
.room-details__comment-title{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px ;
}
.room-details__comment-wrapper{
  margin-bottom: 23px;
}
.room-details__bullet-wrapper{
  grid-area: bullet;
}
.room-details__bullet-title{
  display: block;
  margin: 5px 20px;
}
.room-details__bullet{
  margin: 20px 0;
}
.room-details__cancel{
  grid-area: cancel;
}

.room-details__cancel-title{
  margin: 5px 0;
}
.room-details__cancel-text{
  max-width: 340px;
  margin: 20px 0;
  line-height: 24px;

}

.room-details__footer{
  flex: 0 0 auto;
}


@media (max-width:1250px){
  .room-details__info{
    width: 90%;
  }
}
@media (max-width:1130px){
  .room-details__info{
    width: 80%;
    // grid-template-columns: 25% 29% 33%;
    grid-template-columns: 1fr  1fr;
    // grid-template-columns: 291px 352px 380px;
  
  
    grid-template-areas: 
      "convenience check"
      "pie check"
      "comment comment"
      "bullet cancel";
    
    row-gap: 10px;
    column-gap: 10px;
    
  }
  .room-details__check{
    justify-self: right;
  }
}
@media (max-width:800px){
  .room-details__info{
    width: 90%;
    grid-template-columns: 1fr 1fr;
    
    margin: 20px auto;
    grid-template-areas: 
      "convenience pie"
      "check check"
      "comment comment"
      "bullet cancel";
    justify-items: center;

  }
  .room-details__check{
    justify-self: center;
  }
  .room-details__photos {
    flex-direction: column;
  }
  .room-details__main-photo{
    display: block;
    width: 100%;
  }
  .room-details__side-photos{
    width: 100%;
  }
}
@media (max-width:600px){
  .room-details__info{
    grid-template-columns: 1fr;
    
    grid-template-areas: 
      "convenience"
      "pie"
      "check"
      "comment"
      "bullet"
      "cancel";
  }
}