.room-details {
  width: 100%;
  max-width: 120rem;
  &__photos {
    display: flex;
    line-height: 0;
    margin: 0 auto;
  }
  &__main-photo{
    width: 68.125%;
    display: flex;
    img {
      width: 100%;
    }
  }
  &__side-photos{
    width: 31.875%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    img {
      width: 100%;
    }
  }
  &__info{
    width: 80.6%;
    max-width: 120rem*0.81;
    margin: 4.375rem auto;
    padding-bottom: 0.125rem;
  
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.31fr;
  
    grid-template-areas: 
      "room-info pie check"
      "comment comment check"
      "bullet cancel .";
    
    row-gap: 2.0625rem;
    column-gap: 4.375rem;
  }
  &__room-info{
    grid-area: room-info;
  }
  
  &__pie{
    grid-area: pie;
  }
  
  &__check{
    grid-area: check;
  }
  &__comment{
    grid-area: comment;
  }
  &__comment-title{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1.25rem ;
  }
  &__comment-wrapper{
    margin-bottom: 1.4375rem;
  }
  &__bullet-wrapper{
    grid-area: bullet;
  }
  &__bullet-title{
    display: block;
    margin: 0 1.25rem;
  }
  &__bullet{
    margin-top: 1.25rem;
  }
  &__cancel{
    grid-area: cancel;
  }
  &__cancel-text{
    max-width: 21.25rem;
    margin-top: 1.25rem;
    line-height: 1.5rem;
  }
}



@media (max-width:1250px){
  .room-details__info{
    width: 90%;
  }
}
@media (max-width:1130px){
  .room-details {
    &__photos {
      flex-direction: column;
    }
    &__main-photo{
      width: 100%;
    }
    &__side-photos{
      width: 100%;
      flex-direction: row;
      img {
        width: 50%;
      }
    }
    &__info{
      width: 80%;
      grid-template-columns: 1fr  1fr;
    
      grid-template-areas: 
        "room-info check"
        "pie check"
        "comment comment"
        "bullet cancel";
      
      row-gap: 0.625rem;
      column-gap: 0.625rem;
      
    }
    &__check{
      justify-self: right;
    }  
  }
  
}
@media (max-width:800px){
  .room-details {
      &__side-photos{
      width: 100%;
      flex-direction: column;
      img {
        width: 100%;
      }
    }
    &__info{
      margin: 0 auto;
      width: 100%;
      grid-template-columns: 1fr 1fr;
      
      margin: 1.25rem auto;
      grid-template-areas: 
        "room-info pie"
        "check check"
        "comment comment"
        "bullet cancel";
      justify-items: center;

    }
    &__check{
      justify-self: center;
    }
    &__photos {
      flex-direction: column;
    }
    &__main-photo{
      display: block;
      width: 100%;
    }
    &__side-photos{
      width: 100%;
    }  
  }

}
@media (max-width:600px){
  .room-details {
    &__info{
      grid-template-columns: 1fr;
      
      grid-template-areas: 
        "room-info"
        "pie"
        "check"
        "comment"
        "bullet"
        "cancel";
    }
  }
}