extends ../base/base

include ../../components/room-info/room-info
include ../../components/pie-chart/pie-chart
include ../../components/comment/comment
include ../../components/bullet-list/bullet-list
include ../../components/room-check/room-check

block title
  |Room details
block main
  .room-details
    .room-details__photos
      .room-details__main-photo
        img(src = "./img/room-888-1.jpg", alt = "photo")
      .room-details__side-photos
        img(src = "./img/room-888-2.jpg", alt = "photo")
        img(src = "./img/room-888-3.jpg", alt = "photo")
    .room-details__info
      .room-details__room-info
        h2.room-details__room-info-title
          |Сведения о номере
        +room-info([{sign: "insert_emoticon", title: "Комфорт", text: "Шумопоглощающие стены", order: "first"}, {sign: "location_city", title: "Удобство", text: "Окно в каждой из спален"}, {sign: "whatshot", title: "Уют", text: "Номер оснащён камином", border: "disable"}])
      .room-details__pie
        h2.room-details__pie-title.
          Впечатления от номера
        +pie-chart
      .room-details__check
        +room-check
      .room-details__comment
        .room-details__comment-info
          h2.room-details__comment-title
            |Отзывы посетителей номера
          div 2&nbspотзыва
        .room-details__comment-wrapper
          +comment({img:"murad.jpg",name:"Мурад Сарафанов",when:"5 дней", likes: 12, text:"Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."})
        +comment({img:"patricia.jpg",name:"Патрисия Стёклышкова",when:"неделю", likes: 2, text:"Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент"})
      .room-details__bullet-wrapper
        h2.room-details__bullet-title
          |Правила
        .room-details__bullet
          +bullet-list(["Нельзя с питомцами","Без вечеринок и мероприятий","Время прибытия — после 13:00, а выезд до 12:00"])
      .room-details__cancel
        h2.room-details__cancel-title
          |Отмена
        .room-details__cancel-text.
          Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.