.room-details__wrapper{
  display: flex;
	flex-direction: column;
	min-height: 100%;
}
.room-details__main{
  flex: 1 0 auto;
}
.room-details__info{
  width: 81%;
  max-width: 1920*0.81px;
  margin: 70px auto;

  display: grid;
  grid-template-columns: 25% 30% auto;

  grid-template-areas: 
    "convenience pie check"
    "comment comment check"
    "bullet cancel .";
  
  row-gap: 30px;
  column-gap: 70px;
  
}
.room-details__title{
  margin-left: 3px;
}
.room-details__convenience{
  grid-area: convenience;
}
.room-details__pie{
  grid-area: pie;
}

.room-details__check{
  grid-area: check;
}
.room-details__comment{
  grid-area: comment;
}
.room-details__bullet{
  grid-area: bullet;
}
.room-details__cancel{
  grid-area: cancel;
}
.room-details__title-comment{
  display: flex;
  justify-content: space-between;
}
.room-details__photos {
  width: 100%;
  max-width: 1920px;

  display: flex;
}
.room-details__main-photo{
  display: block;
  // width: 68.125%;
  width: 981px;
}
.room-details__side-photos{
  width: 100-68.125%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.room-details__footer{
  flex: 0 0 auto;
}
