include ../../blocks/button/_theme_color-border/button_theme_color-border
include ../../blocks/button/_theme_filled/button_theme_filled


nav.nav-bar
  ul.nav-bar__list
    li
      a(href="" class="nav-bar__link nav-bar__link_bold")
        |О нас
    li
      a(href="" class="nav-bar__link nav-bar__link_pseudo")
        |Услуги
    li
      a(href="" class="nav-bar__link")
        |Вакансии
    li
      a(href="" class="nav-bar__link")
        |Новости
    li
      a(href="" class="nav-bar__link nav-bar__link_pseudo")
        |Соглашения

    +border-button('войти')
    +filled-button('зарегистрироваться')