nav.nav-bar__body
  ul.nav-bar__list
    li
      a(href="" class="nav-bar__link")
        |О нас
    li
      a(href="" class="nav-bar__link")
        |Услуги
    li
      a(href="" class="nav-bar__link")
        |Вакансии
    li
      a(href="" class="nav-bar__link")
        |Новости
    li
      a(href="" class="nav-bar__link")
        |Соглашения