extends ../base/base
include ../../components/search-room/search-room
include ../../components/header/header

block title
  |Landing
block main
  div(class = "landing-page" title = "a photo of pink room")
    .landing-page__search-room
      +search-room
    .landing-page__text
      |Лучшие номера для вашей работы, отдыха и просто вдохновения
