<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Landing Page
    include ../../blocks/favicons/favicons.pug
  body
    //- include ../../project/nav-bar/__buttons/nav-bar__buttons.pug
    .landing-page__main-photo
      include ../../project/search-rooms/search-rooms.pug

      p.landing-page__text.
        Лучшие номера для вашей работы, отдыха и просто вдохновения

    include ../../project/footer-widgets/footer-widgets.pug
    include ../../project/copyright-bar/copyright-bar.pug
