extends ../base/base
include ../../components/search-room/search-room
include ../../components/header/header

block title
  |Landing Page
block header 
  .js-landing-page__header
    +header({boldAbout: false, user: false})
block main
  div(class = "landing-page js-landing-page" title = "photo of pink room")
    .landing-page__search-room.js-landing-page__search-room
      +search-room

    p.landing-page__text.
      Лучшие номера для вашей работы, отдыха и просто вдохновения

