extends ../base/base
include ../../components/search-room/search-room
block title
  |Landing Page
block main
  div(class = "landing-page__main" title = "photo of pink room")
    .landing-page__search-room
      +search-room

    p.landing-page__text.
      Лучшие номера для вашей работы, отдыха и просто вдохновения

