extends ../base/base
include ../../components/search-room/search-room
block title
  |Landing Page
block header 
  +header
block main
  .landing-page__main
    .landing-page__search-room
      +search-room

    p.landing-page__text.
      Лучшие номера для вашей работы, отдыха и просто вдохновения

