.landing-page__main{
  max-width: 1920px;
  background-image: url('image.jpg');

  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.landing-page__action{
  width: 80.6%;
  height: 90%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}
.landing-page__search-rooms{
  margin-top: 70px;
}
.landing-page__text{
  max-width: 300px;
  line-height: 171%;
  text-align: right;
  align-self: flex-end;
}

@media (max-width: 1200px) {
  .landing-page__text{
    display: none;
  }
}