@import '../../helpers.scss';
.cards{
    padding:40px 30px 30px 30px;

    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.cards__title{
    // width: 320px;
    @include h1-font-cyrillic;
    margin-bottom: 20px;
}
.cards__title_quicksand{
    @include h1-font;
    margin-bottom: 20px;
    &_small{
        @include h1-font;
        font-size: 19px;
    }
}
.cards__h2_cyrillic{
    @include h2-font-cyrillic;
    margin-bottom: 20px;
}
.cards__block-title{
    @include h3-font;
    margin-bottom: 5px;
}
.cards__block-title_primary{
    color: $primary;
}
.cards__body-font{
    @include body-font(#000);
    &_dark{
        color: $dark;
    }
    &_deep{
        color: $deep;
    }
    &_bold{
        font-weight: bold;
    }
    &_small{
        font-size:12px;
    }
}
.cards__tiny-gap{
    margin-bottom: 5px;
}
.cards__small-gap{
    margin-bottom: 10px;
}
.cards__medium-gap{
    margin-bottom: 20px;
}
.cards__big-gap{
    margin-bottom: 30px;
}
.cards__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards__dashed{
    width: 11.375rem;
    border: 1px dashed $medium;
    box-sizing: border-box;
}
.cards__flex-start{
    display:flex;
    justify-content: flex-start;
    align-items: baseline;
}
.cards__h2{
    @include h2-font;
}
.cards__flex_baseline{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}
.cards__title-small{
    @include h1-font;
    font-size: 14px;
}
.cards__calendar{
    position: absolute;
    left: 980px;
    top: 150px;
    width: 320px;
    height: 369px;
}
