include ../button/button
include ../info-icon/info-icon
include ../room-title/room-title
include ../calendar/calendar
include ../dropdown/dropdown
mixin room-check
  form
    .room-check
      .room-check__room-title
        +room-title({large:true,number:888,lux:true,price:"9 990"})
      .room-check__date-fields
        +calendar({ type: "separate", title: "прибытие", titleExtra: "выезд"})
      .room-check__dropdown
        +dropdown({title: "гости", content: "guests", initial: "closed"})

      .room-check__details
        .room-check__line
          .room-check__text.
            9 990₽ х 4 суток
          |39 960₽

        .room-check__line
          .room-check__text
            |Сбор за услуги: скидка 2&nbsp179₽
            +info-icon
          |0₽

        .room-check__line
          .room-check__text.room-check__text_extra
            |Сбор за дополнительные услуги
            +info-icon
          |300₽

      .room-check__final
        h2.room-check__final-sum.
          Итого
        .room-check__dashed-line
        h2.room-check__final-sum.
          38&nbsp081₽
      +button({themeModifier: "arrow", title: "забронировать"})