include ../nav-bar.pug
    include ../../../blocks/button/_theme_color-border/button_theme_color-border.pug
    +border-button('войти')
    include ../../../blocks/button/_theme_filled/button_theme_filled.pug
    +filled-button('зарегистрироваться')