@import './../../theme/variables';

.search-room-page {
  width: 82.6%;
  max-width: 72.5rem;
  margin: 1.875rem auto;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  @media (max-width: 1410px) {
    width: 95%;
  }
  @media (max-width: 750px) {
    flex-direction: column;
    align-items: center;
  }

  &__main {
    width: 100%;
    min-width: 20rem;
    max-width: 52.1875rem;
    margin-left: 3.75rem;
    @media (max-width: 750px) {
      margin-left: 0;
    }
  }

  &__sidebar {
    max-width: 16.625rem;
    @media (max-width: 750px) {
      margin-bottom: 0.625rem;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 1.3125rem;
    color: $dark100;
    font-size: 1.5rem;
    @media (max-width: 1220px) {
      text-align: center;
    }
  }

  &__examples {
    display: grid;
    grid-template-columns: repeat(auto-fit, 16.875rem);
    justify-content: center;
    column-gap: 0.75rem;
    row-gap: 1.375rem;
  }
  
  &__pagination {
    max-width: 15.0625rem;
    margin: 2.9375rem auto;
  }
}
