.search-room-page__wrapper{
  max-width: 1160px;
  margin: 30px auto;

  display: flex;
  flex-direction: column;
  align-items: center;

}
.search-room-page__main,
.search-room-page__sidebar{
  width:98%;

  display: flex;
  flex-direction: column;
}
.search-room-page__title{
  text-align: center;
  line-height: 30px;
  margin-bottom: 20px;
}
.search-room-page__examples{
  
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  justify-content: center; 
  column-gap: 12px;
  row-gap: 20px;
}
.search-room-page__pagination{
  margin-top: 40px;
  align-self: center;
}

@media (min-width:1120px){
  .search-room-page__wrapper{
    width:81%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .search-room-page__sidebar{
    max-width: 266px;
  }
  .search-room-page__main{
    width:72%;
  }
  .search-room-page__title{
    text-align: center;
  }
}
@media (min-width: 1430px){
  .search-room-page__title{
    text-align: left;
  }
}