extends ../base/base

include ../../components/sidebar/sidebar
include ../../components/room-example/room-example
include ../../components/pagination/pagination

block title 
  |Search room 

block main
  .search-room-page
    aside.search-room-page__sidebar
      +sidebar
    main.search-room-page__main
      h1.search-room-page__title.
        Номера, которые мы для вас подобрали
      .search-room-page__examples
        -
          const rooms = [
            {img:"888.jpg", number:888, lux:true, price:"9 990", rating:5, comments:145},
            {img:"840.jpg", number:840, lux:false, price:"9 900", rating:4, comments:65},
            {img:"980.jpg", number:980, lux:true, price:"8 500", rating:3, comments:35},
            {img:"856.jpg", number:856, lux:false, price:"7 300", rating:5, comments:19},
            {img:"740.jpg", number:740, lux:false, price:"6 000", rating:4, comments:44},
            {img:"982.jpg", number:982, lux:false, price:"5 800", rating:3, comments:56},
            {img:"678.jpg", number:678, lux:false, price:"5 500", rating:5, comments:45},
            {img:"450.jpg", number:450, lux:false, price:"5 300", rating:4, comments:39},
            {img:"350.jpg", number:840, lux:false, price:"5 000", rating:3, comments:77},
            {img:"666.jpg", number:666, lux:false, price:"5 000", rating:5, comments:25},
            {img:"444.jpg", number:444, lux:false, price:"5 000", rating:3, comments:15},
            {img:"352.jpg", number:352, lux:false, price:"5 000", rating:3, comments:55}
          ]
        each room in rooms 
          +room-example(room)
      .search-room-page__pagination
        +pagination