<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Search Room
  body
    //- include ../../project/nav-bar/__buttons/nav-bar__buttons.pug
    .container-search-room
      include ../../project/room-example/room-example.pug
      .search-room__content
        .search-room__sidebar
          include ../../project/sidebar/sidebar.pug
        .search-room__room-block
          h1.
            Номера, которые мы для вас подобрали
          .search-room__examples
            +room-example({img:'888.jpg',number:888,lux:true,price:"9 990",comments:145})
            +room-example({img:'840.jpg',number:840,lux:false,price:"9 900",comments:65})
            +room-example({img:'980.jpg',number:980,lux:true,price:"8 500",comments:35})

            +room-example({img:'856.jpg',number:856,lux:false,price:"7 300",comments:19})
            +room-example({img:'740.jpg',number:740,lux:false,price:"6 000",comments:44})
            +room-example({img:'982.jpg',number:982,lux:false,price:"5 800",comments:56})

            +room-example({img:'678.jpg',number:678,lux:false,price:"5 500",comments:45})
            +room-example({img:'450.jpg',number:450,lux:false,price:"5 300",comments:39})
            +room-example({img:'350.jpg',number:840,lux:false,price:"5 000",comments:77})

            +room-example({img:'666.jpg',number:666,lux:false,price:"5 000",comments:25})
            +room-example({img:'444.jpg',number:444,lux:false,price:"5 000",comments:15})
            +room-example({img:'352.jpg',number:352,lux:false,price:"5 000",comments:55})