include ../toxin-logo/toxin-logo
include ../subscription/subscription
include ../widget/widget

mixin footer-widgets
  .footer-widgets
    .footer-widgets__wrapper
      .footer-widgets__info
        +toxin-logo
        .footer-widgets__text.
          Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

      +widget({title: "Навигация",item1: "О нас", item2: "Новости",item3: "Служба поддержки",item4: "Услуги"})
      +widget({title: "О нас", item1: "О сервисе", item2: "Наша команда",item3: "Вакансии", item4: "Инвесторы"})
      +widget({title: "Служба поддержки",item1: "Соглашения", item2: "Сообщества", item3: "Связь с нами"})

      .footer-widgets__info
        h3.footer-widgets__title
          |Подписка
        p.footer-widgets__text.
          Получайте специальные предложения и новости сервиса
        form
          +subscription
    



    