include ../toxin-logo/toxin-logo
include ../subscription/subscription
include ../widget/widget

mixin footer-widgets
  .footer-widgets
    .footer-widgets__wrapper
      .footer-widgets__info
        +toxin-logo
        .footer-widgets__text.
          Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      +widget({title: "Навигация", items: [{href: "/toxin/mock-address", text: "О нас"}, {href: "/toxin/mock-address", text: "Новости"}, {href: "/toxin/mock-address", text: "Служба поддержки"}, {href: "/toxin/mock-address", text: "Услуги"}]})
      +widget({title: "О нас", items: [{href: "/toxin/mock-address", text: "О сервисе"}, {href: "/toxin/mock-address", text: "Наша команда"}, {href: "/toxin/mock-address", text: "Вакансии"}, {href: "/toxin/mock-address", text: "Инвесторы"}]})
      +widget({title: "Служба поддержки", items: [{href: "/toxin/mock-address", text: "Соглашения"}, {href: "/toxin/mock-address", text: "Сообщества"}, {href: "/toxin/mock-address", text: "Связь с нами"}]})
      .footer-widgets__subscribe-column
        h3.footer-widgets__title
          |Подписка
        .footer-widgets__text.
          Получайте специальные предложения и новости сервиса
        form.footer-widgets__subscription
          +subscription
