@import '../../theme/variables';

.footer-widgets {
  background: #fff;
  box-shadow: 0 0.0625rem 0 $dark10;
  @media (max-width: 768px) {
    display: none;
  }

  &__wrapper {
    width: 80.6%;
    max-width: 120rem-17.5rem;
    margin: auto;
    padding: 100px 0 101px;
    display: grid;
    grid-template-columns: 1fr repeat(3, 0.615fr) 1fr;
    grid-gap: 40px;
    align-items: start;
    @media (max-width: 1100px) {
      width: 90%;
      padding: 1.25rem 0;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__text {
    line-height: 171%;
  }

  &__info {
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 15px;
    align-items: start;
  }

  &__subscribe-column {
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 17px;
    align-items: start;
  }

  &__subscription {
    margin: 0.4375rem 0;
  }

  &__title {
    margin-bottom: 0.0625rem;
    margin-top: 0.25rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    color: $dark100;
  }
}
