mixin rate-button(rating)
  div(class="rate")
    case rating
      when 0
        div(class="rate")
          .rate_empty
          .rate_empty
          .rate_empty
          .rate_empty
          .rate_empty
      when 1
        div(class="rate")
          .rate_filled
          .rate_empty
          .rate_empty
          .rate_empty
          .rate_empty
      when 2
        div(class="rate")
          .rate_filled
          .rate_filled
          .rate_empty
          .rate_empty
          .rate_empty
      when 3
        div(class="rate")
          .rate_filled
          .rate_filled
          .rate_filled
          .rate_empty
          .rate_empty
      when 4
        div(class="rate")
          .rate_filled
          .rate_filled
          .rate_filled
          .rate_filled
          .rate_empty
      when 5
        div(class="rate")
          .rate_filled
          .rate_filled
          .rate_filled
          .rate_filled
          .rate_filled