<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cards
  body
    include ../../project/simple-header/simple-header__logo.pug
    .container-cards
      .cards__column1
        include ../../project/search-rooms/search-rooms.pug
        include ../../project/registration/registration.pug

      .cards__column2
        include ../../project/room-check/room-check.pug
        include ../../project/sign-in/sign-in.pug

      .cards__column3
        .cards__calendar
          .cards
            include ../../blocks/calendar/calendar.pug
        include ../../project/room-example/room-example.pug
        