<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Headers&footers
  body
    .headers-footers-background
      include ../../project/simple-header/simple-header__logo.pug
      .container-headers-footers
        include ../../project/nav-bar/__buttons/nav-bar__buttons.pug
        include ../../project/nav-bar/__name/nav-bar__name.pug
        include ../../project/footer-widgets/footer-widgets.pug
        include ../../project/copyright-bar/copyright-bar.pug
        include ../../project/footer-creative/footer-creative.pug