<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Headers&footers
  body
    .headers-footers-background
      include ../../project/simple-header/simple-header__logo
      //- .container-headers-footers
      include ../../project/header/header
      include ../../project/header/add-header
      include ../../project/footer-widgets/footer-widgets.pug
      include ../../project/copyright-bar/copyright-bar.pug
      include ../../project/footer-creative/footer-creative.pug