extends ../../base/base-ui

include ../../../blocks/text-field/text-field
include ../../../blocks/dropdown-guests/dropdown-guests
include ../../../blocks/masked-text-field/masked-text-field
include ../../../blocks/date-dropdown/__input/_size_s/date-dropdown__input_size_s
include ../../../blocks/date-dropdown/__input/_size_l/date-dropdown__input_size_l
include ../../../blocks/subscription/subscription
include ../../../project/checkbox-options/checkbox-options
include ../../../blocks/radio-button/radio-button
include ../../../blocks/toggle/toggle
include ../../../blocks/like-button/like-button
include ../../../blocks/rate-button/rate-button
include ../../../blocks/range-slider/range-slider
include ../../../blocks/button/button
include ../../../blocks/text-button/text-button
include ../../../blocks/pagination/pagination
include ../../../blocks/dropdown/dropdown
include ../../../project/expandable-checkbox/expandable-checkbox
include ../../../blocks/rich-checkbox/rich-checkbox
include ../../../blocks/bullet-list/bullet-list
include ../../../blocks/convenience/convenience
include ../../../project/comment/comment

block title 
  |Form elements

block main
  .container-form-elements
    .form-elements__grid1
      .column1
        .form-elements__text-field
          h3.form-elements__block-title
            |text field
          +text-field('Email')

        .form-elements__text-field
          h3.form-elements__block-title
            |text field
          +text-field('This is pretty awesome')

        .form-elements__dropdown
          h3.form-elements__block-title
            |dropdown
          +dropdown-guests
        
        .form-elements__masked
          h3.form-elements__block-title
            |masked text field
          +masked-text-field

        .form-elements__date
          .title-wrapper-date
            div
              h3.form-elements__block-title
                |date dropdown
              +date-dropdown__input_size_s
            div
              h3.form-elements__block-title
                |date dropdown
              +date-dropdown__input_size_s

        .form-elements__filter
          h3.form-elements__block-title
            |filter date dropdown
          +date-dropdown__input_size_l

        .form-elements__subscription
          h3.form-elements__block-title
            |subscription text field
          +subscription

        
      .column2

        .form-elements__checkbox
          h3.form-elements__block-title
            |checkbox buttons
          +checkbox-options

        .form-elements__radio
          h3.form-elements__block-title_size_l
            |radio buttons
          +radio-button-gender

        .form-elements__toggle
          h3.form-elements__block-title_size_l
            |toggle
          .form-elements__toggle-wrapper
            +toggle('Получать спецпредложения',true)
            +toggle('Получать спецпредложения',false)

        .form-elements__like
          h3.form-elements__block-title_size_l
            |like button
          .like-container
            +like-button
            +like-button

        .form-elements__rate
          h3.form-elements__block-title_size_l
            |rate button
          .form-elements__rate-wrapper
            +rate-button(4)
            +rate-button(5)
        
      .column3

        .form-elements__range
          h3.form-elements__block-title
            |range slider
          +range-slider

        h3.form-elements__block-title_size_l
          |buttons
        .form-elements__buttons
          .form-elements__buttons-wrapper
            +button('click me')(class="button_filled")
          .form-elements__buttons-wrapper
            +button('click me')(class="button_filled")

        .form-elements__buttons
          .form-elements__buttons-wrapper
            +button('click me')(class="button_border")
          .form-elements__buttons-wrapper
            +button('click me')(class="button_border")

        .form-elements__text-buttons
          +text-button('click me')
          +text-button('click me')
        
        .form-elements__button-arrow
          +button('перейти к оплате')(class="button_arrow")

        .form-elements__pagination
          h3.form-elements__block-title_size_l
            |pagination
          +pagination
      

      
      .form-elements__grid2
        div
          h3.form-elements__block-title
            |dropdown
          +dropdown
          h3.form-elements__block-title
            |dropdown
          +dropdown
        div
          h3.form-elements__block-title
            |dropdown
          +dropdown-guests
        div
          h3.form-elements__block-title
            |dropdown
          +dropdown-guests
        div
          +expandable({title:'expandable checkbox list',condition:false})
          +expandable({title:'expandable checkbox list',condition:true})
        div
          h3.form-elements__block-title_size_l
            |rich checkbox buttons
          +rich-checkbox-buttons
        div
          h3.form-elements__block-title
            |bullet list
          +bullet-list
        div
          +convenience({sign:"insert_emoticon",main:"Комфорт",secondary:"Шумопоглощающие стены"})
          +convenience({sign:"location_city",main:"Удобство",secondary:"Окно в каждой из спален"})
        .form-elements__comment
          +comment({img:"murad.jpg",name:"Мурад Сарафанов",when:"5 дней",text:"Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."})



