@import '../../helpers.scss';
@import '_hovered-focused/text-field_hovered-focused.scss';

.text-field{
    width: 100%;
    max-width:20rem;
    min-width:9.375rem;
    @include text-field__frame(0.75rem);
    @include placeholder{
        @include body-font($medium);
    }
}

