@import '../../helpers.scss';

// .text-field__label{
//     display: block;
//     // margin: 0 0 5px;
// }
.text-field__input{
    width: 100%;
    max-width:20rem;
    height: 2.75rem;
    @include text-field-frame;
}

@include placeholder{
    display: block;
    @include body-font($dark-shade-75);
}
.text-field__input:hover::-webkit-input-placeholder{
    content: 'This is pretty awersome';
}
