
.color-intro 
    .color-intro_color-block
        .color-intro_color-block_color
            .color-intro_color-block_color_ds100
    .color-intro__color-descr
        .color-intro__color-descr_color-name
            |Dark Shade 100%
        .color-intro__color-descr_number
            |#1f2041