include ../../text-button/text-button
mixin dropdown-item(item, title)
  div(class="iqdropdown__menu__option" data-id=item)
    .iqdropdown__item=title

mixin dropdown_style_guests(title, initial = "closed")
  h3.iqdropdown__title=title
  div(class = "iqdropdown iqdropdown_guests" data-initial = initial)
    .iqdropdown__expand
      |expand_more
    p.iqdropdown__selection
    .iqdropdown__menu
      +dropdown-item("item1", "Взрослые")
      +dropdown-item("item2", "Дети")
      +dropdown-item("item3", "Младенцы")
      .iqdropdown__buttons
        .iqdropdown__set
          +text-button("применить")
        .iqdropdown__clear
          +text-button("очистить")
