@import '../../theme/variables.scss';
.sign-in{
  width: 23.75rem;
  padding:37px 29px 30px;

  @include card-wrapper;
  &__title{
    margin-bottom: 20px;
    line-height: 125%;
  }  
  &__email{
    margin-bottom: 11px;
  }
  &__password{
    margin-bottom: 21px;
  }

  &__button-arrow{
    margin-bottom: 30px;
  }
  &__account-check{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text{
    color: #000;
  }
}



