@import '../../theme/variables.scss';
.sign-in{
  width: 23.75rem;
  padding:40px 29px 30px;

  @include card-wrapper;
}
.sign-in__title{
  margin-bottom: 20px;
  line-height: 125%;
}
.sign-in__title,
.sign-in__password{
  margin-bottom: 20px;
}
.sign-in__email{
  margin-bottom: 10px;
}
.sign-in__button-arrow{
  height: 44px;
  margin-bottom: 30px;
}
.sign-in__text{
  color: #000;
}
.sign-in__flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign-in__button-border{
  width: 99px;
  height: 44px;
}