include ../text-field/text-field
include ../button/button

mixin sign-in
  .sign-in
    h1.sign-in__title
      |Войти
    .sign-in__email
      +text-field('Email')
    .sign-in__password
      +text-field('Пароль')
    .sign-in__button-arrow
      +button({type: 'arrow', title:'войти'})
    .sign-in__flex
      p.sign-in__text
        |Нет аккаунта на Toxin?
      +button({type: 'border', size: 'm', title:'создать'})
