@import '../../theme/variables.scss';
.sign-in{
  width: 100%;
  min-width: 20rem;
  max-width: 23.75rem;
  padding:2.3125rem 1.8125rem 1.875rem;

  @include card-wrapper;
  &__title{
    margin-bottom: 1.25rem;
    line-height: 125%;
    color: $dark100;
    font-size: 1.5rem;
    margin-top: 0;
  }  
  &__email{
    margin-bottom: 0.6875rem;
  }
  &__password{
    margin-bottom: 1.1875rem;
  }

  &__button_fill_arrow{
    margin-bottom: 1.875rem;
  }
  &__account-check{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text{
    color: #000;
  }
}