include ../text-field/text-field
include ../button/button

mixin sign-in
  form
    .sign-in
      h1.sign-in__title
        |Войти
      .sign-in__email
        +text-field("Email")
      .sign-in__password
        +text-field("Пароль")
      .sign-in__button_fill_arrow
        +button({fill: "arrow", title:"войти"})
      .sign-in__account-check
        p.sign-in__text
          |Нет аккаунта на Toxin?
        +button({fill: "empty", title:"создать"})
