include ../toxin-logo/toxin-logo
include ../socials/socials

mixin copyright-bar
  .copyright-bar
    .copyright-bar__wrapper
      .copyright-bar__logo
        +toxin-logo
      .copyright-bar__text
        |Copyright © 2018 Toxin отель. Все права защищены.
      +socials([{ href: "https://twitter.com/", icon: "twitter" }, { href: "https://facebook.com/", icon: "facebook" }, { href: "https://instagram.com/", icon: "instagram" }])

