@import '_color/color-intro__color-block_color_ds5.scss';
@import '_color/color-intro__color-block_color_ds25.scss';
@import '_color/color-intro__color-block_color_ds50.scss';
@import '_color/color-intro__color-block_color_ds75.scss';
@import '_color/color-intro__color-block_color_ds100.scss';
@import '_color/color-intro__color-block_color_green.scss';
@import '_color/color-intro__color-block_color_purple.scss';

.color-intro__color-block{
    width: 70px;
    height: 70px;
    border-radius: 6px;
}