@import '_color/color-intro__color-block_color_lightest.scss';
@import '_color/color-intro__color-block_color_medium.scss';
@import '_color/color-intro__color-block_color_dark.scss';
@import '_color/color-intro__color-block_color_deep.scss';
@import '_color/color-intro__color-block_color_original.scss';
@import '_color/color-intro__color-block_color_secondary.scss';
@import '_color/color-intro__color-block_color_primary.scss';

.color-intro__color-block{
    width: 70px;
    height: 70px;
    border-radius: 6px;
}