ul(class="pagination__list")
  li
    button(class="pagination__page-number pagination__page-number_mode_active")
      |1
  li
    button(class="pagination__page-number")
      |2
  li
    button(class="pagination__page-number")
      |3
  li
    .pagination__page-number ...
  li
    button(class="pagination__page-number")
      |15
  li
    button(class="pagination__page-number pagination__page-number_mode_arrow")

.pagination__options.
  1 – 12 из 100+ вариантов аренды