@import '../../theme/variables.scss';

.search-room{
  width: 100%;
  max-width: 380px;
  background: #fff;

  padding:39px 29px 30px;

  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.search-room__title{
  margin-bottom: 23px;
  line-height: 125%;
}
.search-room__date-fields{
  margin-bottom: 23px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-room__block-title{
  margin-bottom: 5px;
}
.search-room__dropdown{
  margin-bottom: 30px;
}