@import '../../theme/variables.scss';

.search-room{
  @include card-wrapper;
  
  width: 100%;
  min-width: 20rem;
  max-width: 23.75rem;

  padding:2.4375rem 1.8125rem 1.875rem;
  &__title{
    margin-bottom: 1.375rem;
    line-height: 124%;
  }
  &__date-fields{
    margin-bottom: 1.3125rem;
  }
  &__dropdown{
    margin-bottom: 1.9375rem;
  }  
}

@media (max-width: 400px) {
  .search-room{
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}



