@import '../../theme/variables.scss';

.search-room{
  @include card-wrapper;
  
  width: 100%;
  min-width: 320px;
  max-width: 380px;

  padding:39px 29px 30px;
  &__title{
    margin-bottom: 21px;
    line-height: 125%;
  }
  &__date-fields{
    margin-bottom: 20px;
  }
  &__dropdown{
    margin-bottom: 30px;
  }  
}

@media (max-width: 400px) {
  .search-room{
    padding-left: 10px;
    padding-right: 10px;
  }
}



