include ../button/button
include ../calendar/calendar
include ../dropdown/dropdown_style_guests/dropdown_style_guests

mixin search-room
  form
    .search-room
      h1.search-room__title
        |Найдём номера под ваши пожелания
      .search-room__date-fields
        +calendar("separate", "прибытие", "выезд")
      .search-room__dropdown
        +dropdown_style_guests("гости")
      +button({type: "arrow", title:"подобрать номер"})