include ../button/button
include ../calendar/calendar
include ../dropdown/dropdown

mixin search-room
  form
    .search-room
      h1.search-room__title
        |Найдём номера под ваши пожелания
      .search-room__date-fields
        +calendar({ type: "separate", title: "прибытие", titleExtra: "выезд"})
      .search-room__dropdown
        +dropdown({title: "гости", content: "guests", initial: "closed"})
      +button({themeModifier: "arrow", title:"подобрать номер"})
