include ../button/button
include ../calendar/calendar
include ../dropdown-guests/dropdown-guests

mixin search-room
  .search-room
    h1.search-room__title
      |Найдём номера под ваши пожелания
    .search-room__date-fields
      +calendar
    .search-room__dropdown
      h3.search-room__block-title
        |гости
      +dropdown-guests
    .search-room__button-arrow
      +button('подобрать номер')(class="button_arrow")