mixin button(options)
  if !options
    - options = {}

  -
    var classes = ''
    classes += options.type ? ' button_' + options.type : ''
    classes += options.size ? ' button_size_' + options.size : ''

  button.button(class=classes)=options.title

