mixin button({ title, themeModifier, sizeModifier } = {})
  -
    const themeModifiers = {
      bordered: "button_theme_bordered",
      filled: "button_theme_filled",
      arrow: "button_theme_arrow",
    }
    const sizeModifiers = {
      small: "button_size_small",
    }
    const classes = [sizeModifiers[sizeModifier], themeModifiers[themeModifier]];


  button.button(class=classes)=title

