include ../../blocks/checkbox-button/checkbox-button

mixin checkbox-options
  .checkbox-options__wrapper
    .checkbox-options
      +checkbox-button('Можно курить',false)
    .checkbox-options
      +checkbox-button('Можно с питомцами',true)
    .checkbox-options
      +checkbox-button('Можно пригласить гостей (до 10 человек)',true)
