include ../../blocks/checkbox-button/checkbox-button.pug

.checkbox-container
    +checkbox-button('Можно курить',false)
    +checkbox-button('Можно с питомцами',true)
    +checkbox-button('Можно пригласить гостей (до 10 человек)',true)
