include ../../blocks/checkbox-button/checkbox-button.pug

.header-intro__descr_size_h3 Checkbox Buttons
.checkbox-container
    +checkbox-button('Можно курить',false)
    +checkbox-button('Можно с питомцами',true)
    +checkbox-button('Можно пригласить гостей (до 10 человек)',true)
