include ../toxin-logo/toxin-logo
include ../socials/socials

mixin footer-creative
  .footer-creative
    .footer-creative__wrapper
      +toxin-logo
      p.footer-creative__copyright.
        Copyright © 2018 Toxin отель. Все права защищены.
      +socials