mixin pie-chart
  - 
    const rating = [
      {modifier: "great", text: "Великолепно"},
      {modifier: "good", text: "Хорошо"},
      {modifier: "ok", text: "Удовлетворительно"},
      {modifier: "bad", text: "Разочарован"},
    ]
  figure(class="pie-chart")
    svg(viewBox="0 0 124 124" class="pie-chart__svg")
      defs
        linearGradient(id="primary")
          stop(stop-color="#BC9CFF")
          stop(offset="1" stop-color="#8BA4F9")
        linearGradient(id="secondary")
          stop(stop-color="#66D2EA")
          stop(offset="1" stop-color="#6FCF97")
        linearGradient(id="great")
          stop(stop-color="#FFE39C")
          stop(offset="1" stop-color="#FFBA9C")
      each item in rating 
        -
          const classes = "pie-chart__ring " + "pie-chart__ring_rating_" + item.modifier
        circle(class=classes cx="62" cy="62" r="58")
      g(class="pie-chart__main-text")
        text(x="50%" y="50%" class="pie-chart__number").
          260
        text(x="50%" y="64%" class="pie-chart__label").
          голосов
    figcaption(class="pie-chart__figcaption")
      ul(class="pie-chart__list")
        each item in rating 
          -
            const classes = "pie-chart__color-example pie-chart__color-example_rating_" + item.modifier
          li
            span(class=classes)
            span.pie-chart__text=item.text
