@import '../../theme/variables';

.pie-chart {
  width: 100%;
  min-width: 16.875rem;
  max-width: 19.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1.1875rem 0;

  &__svg {
    width: 7.75rem;
  }

  &__ring {
    width: 100%;
    fill: transparent;
    stroke-width: 0.25rem;

    &_rating_ok {
      stroke: url('#primary');
      stroke-dasharray: 89 275;
      stroke-dashoffset: 90;
    }

    &_rating_good {
      stroke: url('#secondary');
      stroke-dasharray: 89 275;
      stroke-dashoffset: -1;
    }

    &_rating_great {
      stroke: url('#great');
      stroke-dasharray: 179;
      stroke-dashoffset: 265;
    }
  }

  &__main-text {
    fill: $primary;
  }

  &__number {
    font-weight: Bold;
    font-size: 1.5rem;
    text-anchor: middle;
  }

  &__label {
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-anchor: middle;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    @media (max-width: 1200px) {
      margin-left: 0.3125rem;
    }
  }

  &__list li {
    margin: 0 0 7px;
    display: flex;
    align-items: center;

    &:last-child {
      margin: 0 0 0.1875rem;
    }
  }

  &__color-example {
    display: inline-block;
    vertical-align: middle;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;

    &_rating_great {
      background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
    }

    &_rating_good {
      background: $secondary-gradient;
    }

    &_rating_ok {
      background: $primary-gradient;
    }

    &_rating_bad {
      background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
    }
  }

  &__text {
    margin-left: 0.3125rem;
  }
}
