@import '../../theme/variables.scss';
.pie-chart {
  width: 19.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1.25rem 0;

  &__svg{
    width:7.75rem;
  } 
   &__ok{
    fill:transparent;
    stroke:url(#primary);
    stroke-width:0.25rem;
    //     Circumference − All preceding segments’ total length + First segment’s offset = Current segment offset
    // длина окр=364
    //364/4=91,
    // 91-2=89 длина дуги
    // сдвинуть на 90,чтобы один пискель остался сзади, один спереди
    stroke-dasharray:89 275; 
    stroke-dashoffset:90;
  }
  &__good{
    fill:transparent;
    stroke:url(#secondary);
    stroke-width:0.25rem;
    stroke-dasharray:89 275;

    stroke-dashoffset:-1;
  }
  &__great{
    fill:transparent;
    stroke:url(#great);
    stroke-width:0.25rem;
    stroke-dasharray:179;
    stroke-dashoffset:265;
  }  
  &__main-text{
    fill:$primary;
  }  
  &__number {
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 1.5rem;
    text-anchor: middle;
  }

  &__label {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-anchor: middle;
  }
  &__list {
    list-style: none;
  }

  &__list li {
    margin: 0 0 0.375rem;
    display: flex;
    align-items: center;
    &:last-child{
      margin: 0 0 0.1875rem;
    }
  }

  &__circle {
    display: inline-block;
    vertical-align: middle;
    width: 0.625rem;
    height: 0.625rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    &_great{
      background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
    }
    &_good{
      background: $secondary-gradient;
    }
    &_ok{
      background: $primary-gradient;
    }
    &_bad{
      background: linear-gradient(180deg, #919191 0%, #3D4975 100%);;
    }
  }
  &__text{
    margin-left: 0.3125rem;
  }    
}









