@import '../../theme/variables.scss';
.pie-chart {
  &__figure{
    width: 312px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px 0;
  }  
  &__svg{
    width:124px;
  } 
   &__ok{
    fill:transparent;
    stroke:url(#primary);
    stroke-width:4px;
    //     Circumference − All preceding segments’ total length + First segment’s offset = Current segment offset
    // длина окр=364
    //364/4=91,
    // 91-2=89 длина дуги
    // сдвинуть на 90,чтобы один пискель остался сзади, один спереди
    stroke-dasharray:89 275; 
    stroke-dashoffset:90;
  }
  &__good{
    fill:transparent;
    stroke:url(#secondary);
    stroke-width:4px;
    stroke-dasharray:89 275;

    stroke-dashoffset:-1;
  }
  &__great{
    fill:transparent;
    stroke:url(#great);
    stroke-width:4px;
    stroke-dasharray:179;
    stroke-dashoffset:265;
  }  
  &__main-text{
    fill:$primary;
  }  
  &__number {
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 24px;
    text-anchor: middle;
  }

  &__label {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-anchor: middle;
  }
  &__list {
    list-style: none;
  }

  &__list li {
    margin: 0 0 6px;
    display: flex;
    align-items: center;
    &:last-child{
      margin: 0 0 3px;
    }
  }

  &__circle {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
            border-radius: 50%;
    &_great{
      background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
    }
    &_good{
      background: $secondary-gradient;
    }
    &_ok{
      background: $primary-gradient;
    }
    &_bad{
      background: linear-gradient(180deg, #919191 0%, #3D4975 100%);;
    }
  }
  &__text{
    margin-left: 5px;
  }    
}









