mixin like-button({ number })
  .like-button.js-like-button
    label(class="like-button__label")
      input(class="like-button__input js-like-button__input", type="checkbox" checked)
      span.like-button__heart 
        |favorite_border
      span.like-button__heart_checked
        |favorite
      span.like-button__number.js-like-button__number=number
