div(class="iqdropdown iqdropdown_guests")
    p(class="iqdropdown-selection")
    div(class="iqdropdown-menu")
        div(class="iqdropdown-menu-option" data-id="item1")
            p(class="iqdropdown-item")
                |Взрослые
        div(class="iqdropdown-menu-option" data-id="item2")
            p(class="iqdropdown-item")
                |Дети
        div(class="iqdropdown-menu-option" data-id="item3")
            p(class="iqdropdown-item")
                |Младенцы