@import '_color-name/color-intro__color-descr_color-name.scss';
@import '_number/color-intro__color-descr_number.scss';
.color-intro__color-descr{
    padding-top: 7px;
    padding-left: 40px;
    font-size: 19px;
    line-height: 29px;   
}