include ../../blocks/text-field/text-field.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/button/button

.registration
  h1.registration__title 
    |Регистрация аккаунта

  .registration__text-field
    +text-field('Имя')

  .registration__text-field
    +text-field('Фамилия')

  .registration__radio-button
    include ../../blocks/radio-button/radio-button

  h3.registration__block-title
    |дата рождения

  .registration__masked
    include ../../blocks/masked-text-field/masked-text-field

  h3.registration__block-title
    |данные для входа в сервис

  .registration__text-field
    +text-field('Email')

  .registration__text-field
    +text-field('Пароль')

  .registration__toggle
    +toggle('Получать спецпредложения')

  .registration__button-arrow
    +button('перейти к оплате')(class="button_arrow")
  .registration__flex
    p.registration__text
      |Уже есть аккаунт на Toxin
    .registration__border-wrapper
      +button('войти')(class="button_border")

    