mixin subscription(title)
  .subscription_wrapper
    h3.subscription__title=title
    .subscription__subwrapper
      input(class="subscription__input", type="email", placeholder="Email" )
      button(type="submit",class="subscription__submit")
        |arrow_forward