mixin subscription(title)
  .subscription
    h3.subscription__title=title
    input(class="subscription__input", type="email", placeholder="Email" )
    button(type="submit",class="subscription__submit")
      |arrow_forward