@import '../../theme/variables.scss';
@import '../../theme/global.scss';

.subscription{
  display:flex;
  justify-content: flex-start;
}
.subscription__input{
  width: 100%;
  max-width: 20rem;
  min-width: 9.375rem;
  
  @include text-field__left-input;
  @include placeholder{
    @include body-font($dark25);
  }
}
.subscription__submit{
  cursor: pointer;
  @include text-field__icon;
  background: $primary-gradient;
  -webkit-background-clip: text; //для градиентной стрелки
  -webkit-text-fill-color:transparent;//для градиентной стрелки
}
