@import '../../theme/variables.scss';
@import '../../theme/global.scss';

.subscription__title {
  margin-bottom: 5px;
}
.subscription__subwrapper {
  position: relative;
  max-width: 20rem;
}
.subscription__input{
  width: 100%;
  max-width: 20rem;
  min-width: 9.375rem;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  @include text-field__frame;
  @include placeholder{
    @include body-font($dark25);
  }
}
.subscription__submit{
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: Material Icons;
  font-size: 24px;
  cursor: pointer;
  border: none;
  background: $primary-gradient;
  -webkit-background-clip: text; //для градиентной стрелки
  -webkit-text-fill-color:transparent;//для градиентной стрелки
}
