@import '../../theme/variables';

.room-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__room-description {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }

  &__number-mark {
    font-weight: bold;
    color: $dark100;
    font-size: 0.875rem;
    margin-right: 0.25rem;
    line-height: 121%;
  }
  
  &__large-number {
    font-weight: bold;
    font-size: 1.5rem;
    color: $dark100;
    line-height: 125%;
  }

  &__number {
    font-weight: bold;
    font-size: 1.1875rem;
    color: $dark100;
  }

  &__class {
    color: $primary;
    font-size: 0.9375rem;
    margin: 0 8px;
  }

  &__price-description {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }

  &__price,
  &__currency {
    font-weight: bold;
    color: $dark50;
  }

  &__text {
    color: $dark50;
    font-size: 0.75rem;
    margin-left: 0.25rem;
  }
}
