@import '../../theme/variables.scss';
.room-title__wrapper{
  display:flex;
  justify-content: space-between;
  align-items: baseline;
}
.room-title__room-descr{
  display:flex;
  justify-content: flex-start;
  align-items: baseline;
}
.room-title__number-mark{
  font-size: 14px;
  margin-right: 4px;
  line-height: 121%;
}
.room-title__large-number{
  line-height: 125%;
}
.room-title__number{
  font-size: 19px;
}
.room-title__class{
  color:$primary;
  margin-bottom: 5px;
  margin-left: 5px;
}

.room-title__price-descr{
  display:flex;
  justify-content: flex-start;
  align-items: baseline;
}
.room-title__price,
.room-title__currency{
  font-weight: bold;
  color: $dark;
}
.room-title__text{
  color: $dark;
  font-size: 12px;
  margin-left: 4px;
}