
.calendar__input-wrapper
  .calendar__block
    h3.calendar__block-title.
      Прибытие
    input(type='text' class='calendar__start')
  .calendar__block
    h3.calendar__block-title.
      Выезд
    input(type='text' class='calendar__end')

