mixin color-intro(options)
  if !options
      - options = {}

  -
    var classes = ""
    classes += options.workingTitle ? "color-intro__block_" + options.workingTitle : ""

  .color-intro 
    div(class=classes)
    .color-intro__description
      .color-intro__title=options.title
      .color-intro__number=options.number