@import '../../theme/variables.scss';

.color-intro{
  display: flex;
  align-items: center;
  margin: 20px 0;
  &:first-child{
    margin: 0 0 20px 0;
  }
}
@mixin color-intro__block($color){
  width: 70px;
  height: 70px;
  border-radius: 6px;
  background: $color;
}
.color-intro__block_original{
  @include color-intro__block($original)
}
.color-intro__block_deep{
  @include color-intro__block($deep)
}
.color-intro__block_dark{
  @include color-intro__block($dark)
}
.color-intro__block_medium{
  @include color-intro__block($medium)
}
.color-intro__block_lightest{
  @include color-intro__block($lightest)
}
.color-intro__block_primary{
  @include color-intro__block($primary)
}
.color-intro__block_secondary{
  @include color-intro__block($secondary)
}
.color-intro__text{
  margin-left: 40px;
  line-height: 28px;
}
.color-intro__number{
  font-weight: normal;
  text-transform: uppercase;
}