mixin color-intro({ title, workingTitle, number} = {})
  -
    const classes = workingTitle ? `color-intro__block_${workingTitle}` : "";

  .color-intro 
    div(class=classes)
    .color-intro__description
      .color-intro__title=title
      .color-intro__number=number