@import '../../theme/variables.scss';

.color-intro{
  display: flex;
  align-items: center;
  margin: 1.25rem 0;
  &__text{
    margin-left: 2.5rem;
    line-height: 146%;
  }
  &__number{
    font-weight: normal;
    text-transform: uppercase;
  }
  &:first-child{
    margin-top: 0;
  }
}

@mixin color-intro__block($color){
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 8.6%;
  background: $color;
}
.color-intro__block{
  &_dark100 {
    @include color-intro__block($dark100)
  }
  &_dark75 {
    @include color-intro__block($dark75)
  }
  &_dark50 {
    @include color-intro__block($dark50)
  }
  &_dark25 {
    @include color-intro__block($dark25)
  }
  &_dark5{
    @include color-intro__block($dark5)
  }
  &_primary{
    @include color-intro__block($primary)
  }
  &_secondary{
    @include color-intro__block($secondary)
  }
}