@import '../../theme/variables.scss';

.expandable-checkbox {
  width: 100%;
  min-width: 15.625rem;
  max-width: 16.625rem;
  
  &__label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  &__title {
    line-height: 130%;
    color: $dark100;
    text-transform: uppercase;
    font-size: 0.75rem;
    margin: 0;
  }
  &__icon{
    font-family: 'Material Icons';
    line-height: 100%;
    font-size: 1.5rem;
    color:$dark50;
    margin: 0 0.625rem;
    &_active {
      transform: rotate(180deg);
    }
  }
  &__list {
    display: none;
    width: 100%;

    background: #fff;
    z-index: 99;
    margin: 0.9375rem 0;
    list-style: none;
    padding: 0;
    &_active {
      display: block;
    }
  }
  &__li{
    padding-bottom: 0.625rem;
  }
}