include ../checkbox-button/checkbox-button

mixin expandable-checkbox({title, open, items})
  .expandable-checkbox
    label(class="expandable-checkbox__label" type="checkbox" )
      h3.expandable-checkbox__label-title=title
      input(class="expandable-checkbox__input" type="checkbox" checked=open)
      span.expandable-checkbox__icon
        |expand_more

      ul.expandable-checkbox__list
        each checked, item in items
          li.expandable-checkbox__li
            +checkbox-button({rich: false, title: item, checked: checked})
