@import '../../helpers.scss';

header{
  width: 100%;
  background: #fff;
}
.header__wrapper{
  display: flex;
  // align-items: center;
  justify-content: space-between;
  margin: 0 140px;
}
.header__logo{
  padding: 15px 0;
}
.header__buttons{
  display: flex;
  // justify-content: start;
}
.menu__ul>li{
  list-style-type: none;
}
.header__menu,
.menu__ul{
  display: flex;
  align-items: center;
}

.menu__link{
  
  text-decoration: none;
  padding:0 10px;
  &:focus{
    color: $deep;
  }
  &_bold{
    max-height: 20px;
    font-weight: bold;
  }
  &_pseudo{
    padding-right: 34px;
    position: relative;
      &::after{
        font-family: Material Icons;
        font-size: 24px;
        content: 'expand_more';
  
        position: absolute;
        bottom: -9px;
      }
  }
}
// add header
.header__user{
  padding-left: 20px;
  border-left: 1px solid $light;
  line-height: 17px;
}



@media screen and (max-width: 1120px) {
  .header__wrapper{
    flex-direction: column;
    margin: 0;
  }
  .header__menu{
    flex-direction: column;
  }
  .header__logo{
    text-align: center;
  }
  .header__buttons{
    margin: 20px 0;
  }
  .header__user{
    border-left: none;
    margin: 20px 0;
  }
}
@media screen and (max-width: 768px) {
  .header,
  .menu__ul,
  .header__menu,
  .header__logo{
    flex-direction: column;
  }
  .header{
    padding: 0;
  }
  .header__logo{
    display: flex;
    justify-content: center;
    height: 40px;
  }
  .header__buttons{
    margin: 20px 0;
  }
  .header__wrapper{
    margin: 0;
  }
  .header__user{
    border-left: none;
    margin: 20px 0;
  }
}
