include ../../blocks/button/button

header
  .header__wrapper
    .header__logo
      include ../../blocks/toxin-logo/toxin-logo

    .header__menu  
      ul.menu__ul
        li
          a(href="" class="menu__link menu__link_bold")
            |О нас
        li
          a(href="" class="menu__link menu__link_pseudo")
            |Услуги
        li
          a(href="" class="menu__link")
            |Вакансии
        li
          a(href="" class="menu__link")
            |Новости
        li
          a(href="" class="menu__link menu__link_pseudo")
            |Соглашения
      .header__buttons
        .header__border-button
          +button('войти')(class="button_border")
        .header__filled-button
          +button('зарегистрироваться')(class="button_arrow")