header.nav-bar
  .container
    header
      include ../../blocks/toxin-logo/toxin-logo
      include ../../blocks/nav-bar/nav-bar
      include ../../blocks/button/_theme_color-border/button_theme_color-border
      +border-button('войти')
      include ../../blocks/button/_theme_filled/button_theme_filled
      +filled-button('зарегистрироваться')