@import '../../helpers.scss';
// @import '../../../node_modules/jquery.rateit/scripts/rateit.css';

.rateit {
  display: -moz-inline-box;
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  .rateit-selected{
    background: url(star.svg);
    position: absolute;
    height: 24px !important;
    left: 0;
    top: 0;
    width: 0;

  }
}

.rateit-range {
  height: 24px !important;
  width: 120px !important;
  position: relative;
  // display: -moz-inlin-box;
  // display: inline-blocke;
  background: url(star_border.svg);
  // background-size: contain;
  outline: none;

}
.rateit-range > div, 
.rateit-range > span {
  background: none;
  overflow: hidden;
  cursor: default;
}
