.star-rating
  fieldset
      label
        input(type="radio" name="rating" value="5") 
        .star 5 stars
        

      label
        input(type="radio" name="rating" value="4")
        .star 4 stars
         

      label
        input(type="radio" name="rating" value="3")
        .star 3 stars
         

      label
        input(type="radio" name="rating" value="2")
        .star 2 stars 

      label
        input(type="radio" name="rating" value="1") 
        .star 1 stars
        
