@import '../../helpers.scss';
.rate{
  display: flex;
  justify-content: start;
  width: 120px;
  

  // для градиента
  background:-moz-linear-gradient(180deg, $primary 0%, #8BA4F9 100%); 
  background: -webkit-linear-gradient(180deg, $primary 0%, #8BA4F9 100%); 
  background: linear-gradient(180deg, $primary 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color:transparent;
  &_filled{
    padding: 0;
    &:before{      
      content: 'star';
      @include icons;
    }
  }
  &_empty{
    padding: 0;
    &:before{
      content: 'star_border';
      @include icons;
    }
  }
}

