@import './../../theme/variables.scss';


.range-slider{
  &__container {
    width: 16.625rem;
  }
  &__sub-container {
    display: flex;
    justify-content: space-between;
  }

  &__current {
    color: $dark50;
    font-size: 0.75rem;
    line-height: 100%;
  }
}


.irs {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0.75rem;
  font-family: Arial, sans-serif;
  // added style
  width: 100%;
}
.irs-line {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none !important;
  // added style
  top: 1.375rem;
  height: 0.375rem;
  background: #FFFFFF;
  border: 0.0625rem solid $dark25;
  border-radius: 0.1875rem;
  cursor: pointer;
}
.irs-bar {
  position: absolute;
  display: block;
  left: 0;
  width: 0;
  // added style
  top: 1.375rem;
  height: 0.375rem;
  background: $secondary-gradient;
  border-radius: 0.1875rem;
  cursor: pointer;
}
.irs-handle {
  position: absolute;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
  // added style
  top: 1.0625rem;
  width: 1rem;
  height: 1rem;
  background: $secondary-gradient;
  border: 0.125rem solid #FFFFFF;
  border-radius: 0.625rem;
}
.irs-from,
.irs-to,
.irs-single {
  display: none;
}
.irs-hidden-input {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  outline: none !important;
  z-index: -9999 !important;
  background: none !important;
  border-style: solid !important;
  border-color: transparent !important;
}