@import '../../theme/variables.scss';
.form-elements {
  margin: 3.8125rem 8.8125rem 8.1875rem 8.8125rem;
  &__primary-grid{
    display:grid;
    grid-template-columns: 20rem 16.625rem 20rem;
    grid-template-rows: 39.5rem;
    column-gap: 7.875rem;
  }
  &__secondary-grid{
    margin-top: 6.5625rem;
    display: grid;
    grid-template-columns: 23.375rem 20rem 20rem;
    grid-template-rows: 16.6875rem 20.1875rem 13.625rem;
    column-gap: 4.5rem;
    row-gap: 2.5rem;
  }  
  &__email{
    margin-top: 0.25rem;
    margin-bottom: 1.25rem;
  }
  &__awersome{
    margin-bottom: 1.3125rem;
  }
  &__primary-grid &__dropdown_content_guest-composition{
    margin-bottom: 1.375rem;
  }
  &__masked {
    margin-bottom: 2.5rem;
  }
  &__calendar_separate{
    margin-bottom: 2.5625rem;
  }
  &__calendar_filter{
    margin-bottom: 2.5625rem;
  }
  &__subscription{
    width: 16.6875rem;
  }
  // column 2 
  &__checkbox-list{
    margin-top: 0.25rem;
    margin-bottom: 2.625rem;
  }
  &__radio{
    margin-bottom: 2.5rem;
  }
  &__radio-title{
    margin-bottom: 1rem;
  }
  
  &__toggle-wrapper{
    margin-bottom: 2.75rem;
  }
  &__toggle-title{
    margin-bottom: 1.0625rem;
  }
  &__toggle_checked {
    margin-bottom: 0.875rem;
  }
  &__like-wrapper {
    margin-bottom: 2.75rem;
  }
  &__like-title {
    margin-bottom: 1.1875rem;
  }
  &__like {
    display: flex;
    justify-content: space-between;
    width: 5.625rem;
  }
  &__rate-title {
    margin-bottom: 1rem;
  }
  &__rate{
    width: 16.25rem;
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: space-between;
  }
  
  // column 3
  
  &__range-slider{
    margin-top: 0.3125rem;
    margin-bottom: 4.125rem;
  }
  &__buttons-title {
    margin-bottom: 1rem;
  }
  &__buttons_fill_full{
    display: flex;
    justify-content: space-between;
  
    width: 13.5625rem;
    margin-left: 0.0625rem;
    margin-bottom: 1.875rem;
  }
  &__buttons_fill_empty{
    display: flex;
    justify-content: space-between;
  
    width: 13.625rem;
    margin-bottom: 1.9375rem;
  }
  &__text-buttons{
    display: flex;
    justify-content: space-between;
  
    width: 8.875rem;
    margin-bottom: 1.875rem;
    margin-left: 0.0625rem;
  }
  &__button_fill_arrow{
    margin-bottom: 2.5rem;
  }
  &__pagination {
    margin-left: 0.0625rem;
  }
  &__pagination-title {
    margin-bottom: 1rem;
  }
  // secondary grid 
  // column 1
  &__secondary-grid__column1 &__dropdown_content_room-composition {
    &_closed {
      margin-bottom: 1.25rem;
    }
    &_open {
      margin-bottom: 10.4375rem;
    }
  }
  
  &__expandable {
    &_closed {
      margin-bottom: 2.5rem;
    }
    &_open {
      margin-bottom: 3.375rem;
    } 
  }
  // column 2
  
  &__rich-checkbox {
    margin-top: 16rem;
  }
  // column 3
  &__secondary-grid__column3 
  &__dropdown_content_guest-composition_open {
    margin-left: 0.0625rem;
  }
  &__bullet-list {
    margin-top: 16rem;
  }
  &__bullet-list__title {
    margin-bottom: 0.875rem;
  }
  &__comment{
    margin-top: 1.75rem;
    grid-row: 3;
    grid-column: 2 / 4;
  }
}






