mixin socials
  .socials
    img(src="twitter.svg", alt="twitter", class="socials__item")
    img(src="facebook.svg", alt="facebook",class="socials__item")
    img(src="instagram.svg", alt="instagram",class="socials__item")