.header-intro__descr_size_h3 Radio Buttons

input(id='man', type='radio',name='gender',checked)
label(for="man")
    | Мужчина

input(id='woman', type='radio',name='gender')
label(for='woman')
    | Женщина
