mixin radio-button(title,name,condition)
  label(class='radio-button__label')
    p.radio-button__title=title
    input(class='radio-button__input', type='radio',name=name,checked=(condition))

mixin radio-button-gender
  .radio-button-container
    +radio-button('Мужчина','gender',true)
    +radio-button('Женщина','gender',false)
