@import '../../variables.scss';
@import '../../mixins.scss';

.radio-button-container{
  display: flex;
  justify-content: space-between;
  width: 224px;
}
.radio-button__input {
  -webkit-appearance: none;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid $dark-shade-25;
  box-sizing: border-box; 
  &::before{
    content: '';
    display: block;
  }
  &:checked{
    border: 1px solid #BC9CFF;
    &::before {
      box-sizing: border-box; 
      width: 12px;
      height: 12px;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 10px;
    }
  }
}

.radio-button__title{
  @include body-font($dark-shade-75);
  line-height: 24px;
  margin-left: 7px;
}
.radio-button__label{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: 16px;
}