@import '../../theme/variables.scss';
.font-intro {
  display: flex;
  margin: 3.1875rem 0;
  &:first-child{
    margin-top: 0;
  }
  &__type{
    min-width: 2.3125rem;
    max-width: 2.3125rem;

    color: $dark25;
    text-transform: uppercase;
    font-weight: normal;
    text-align: right;
  }  
  &__type_body{
    text-transform: none;
  }  
  &__descr{
    max-width: 23.625rem;
    margin-left: 1.875rem;
    &_body{
      max-width: 18.8125rem;
      line-height: 171%;
    }
  }  
}


