@mixin text($ff,$fw,$fs,$lh){
    font-family: $ff;
    font-style: normal;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}

@mixin for-hn($font,$fsize,$texttrans){
    text-align: right;
    font-family: $font;
    font-size: $fsize;
    // line-height: $lheight;
    text-transform: $texttrans;
    color: #1f2041;
    opacity: 0.25;
    font-weight:normal;
    width: 37px;
}
@mixin form-input(){
    width: 320px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
}

.container-fe{
    margin: 67px 141px 131px 141px;
    display:grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,320px);
    grid-column-gap: 126px;
    .column1{
        form{
            .forms__easy-form{
                input{
                    width: 320px;
                    height: 44px;
                    margin-bottom: 20px;
                    background: #FFFFFF;
                    border: 1px solid rgba(31, 32, 65, 0.25);
                    box-sizing: border-box;
                    border-radius: 4px;
                }
                input[type="text"]::placeholder{
                    @include for_hn(Montserrat,14px,normal);
                    display: block;
                    padding: 13px 265px 13px 15px;
                }
                label{                        
                    .hn-text__descr_h3{
                        margin-bottom: 5px;
                        @include text(Montserrat-Bold,bold,12px,15px);
                        text-transform: uppercase;
                    }
                }
                .forms__easy-form_hover{
                    input::-webkit-input-placeholder {
                        opacity: 0;
                    }
                    input:hover::-webkit-input-placeholder {
                        opacity: 0.75;
                    }
                }
            }
        }
    }
    .column2{
        .checkbox{
            input{
                border: 1px solid red;
                box-sizing: border-box;
                border-radius: 4px;
            }
        }
    }
}