
@font-face{
    font-family: 'Quicksand-Bold';
    src: url("../fonts/Quicksand/Quicksand-Bold.ttf") format('trueType')
}
@font-face{
    font-family: 'Quicksand';
    src: url("../fonts/Quicksand/Quicksand-Regular.ttf") format('trueType');
}
@font-face{
    font-family: 'Montserrat-Bold';
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format('trueType');
}
@font-face{
    font-family: 'Montserrat-Regular';
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format('trueType');
}
.body{
    margin: 0px;
}
.logo{
    background-image: url("../Group.svg");
    position : absolute;
    top:30px;
    left:30px;
    height: 48px;
    width: 48px;
}
@mixin cb($bg,$opac) {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    background:$bg;
    opacity: $opac;
}


.container{
    margin: 145px 191px 145px 160px;
    //background: #000;
    .all-blocks-color-text{
        // float:left;
        width: 270px;
        height: 610px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .color-text{
            display: flex;
            justify-content: flex-start;
            .color-text__color-block_color {
                .color-text__color-block_color_ds100 {
                    @include cb(#1f2041,1)
                }
                .color-text__color-block_color_ds75 {
                    @include cb(#1f2041,0.75)
                }
                .color-text__color-block_color_ds50 {
                    @include cb(#1f2041,0.50)
                }
                .color-text__color-block_color_ds25 {
                    @include cb(#1f2041,0.25)
                }
                .color-text__color-block_color_ds5 {
                    @include cb(#1f2041,0.05)
                }
                .color-text__color-block_color_purple {
                    @include cb(#Bc9cff,1)
                }
                .color-text__color-block_color_green {
                    @include cb(#6fcf97,1)
                }
            }
            .color-text__name-and-color-number{
                padding-top: 7px;
                padding-left: 40px;
                .color-text__name-color{
                    font-family: Quicksand-Bold;
                    font-style: normal;
                    font-size: 19px;
                    line-height: 29px;
                    
                }
                .color-text__color-number{
                    font-family: Quicksand;
                    font-style: normal;
                    font-size: 19px;
                    line-height: 29px;
                    text-transform: uppercase;
                }
            }
        }
    }
    .all-blocks-hn-text{
        
        // float: right;
        //background: #000;
        width: 403px;
        height: 321px;
        .hn-text{
              .hn-text__hn{}
              .hn-text__descr{}
        }
    }
}



.tagh-text{
    position:absolute;
    left: 855px;
    top: 130px;
    width: 403px;
    display: flex;
    align-items: stretch;
    .tagh{
        font-family: Montserrat-Regular;
        font-size: 12px;
        text-transform: uppercase;
        color: #1f2041;
        opacity: 0.25;
    }
    .ttext{
        padding-left: 30px;
        font-family: Quicksand-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 30px;        
    }
}

.tagh-text2{
    margin-top: 255px;
    margin-left: 855px;
    width: 320px;
    display: flex;
    align-items: stretch;
    .tagh2{
        font-family: Montserrat-Regular;
        font-size: 12px;
        text-transform: uppercase;
        color: #1f2041;
        opacity: 0.25;
    }
    .ttext2{
        margin-left: 30px;
        font-family: Quicksand-Medium;
        font-size: 12px;
    }
}


// .ds50 {
// 	@include cb(#1f2041);
//     opacity: 0.50;
//     top:325px;
//     left:150px;
// }
// .ds25 {
// 	@include cb(#1f2041);
//     opacity: 0.25;
//     top:415px;
//     left:150px;
// }

// .ds5 {
// 	@include cb(#1f2041);
//     opacity: 0.05;
//     top:505px;
//     left:150px;
// }
// .purple {
// 	@include cb(#Bc9cff);
//     top:595px;
//     left:150px;
// }
// .green {
// 	@include cb(#6fcf97);
//     top:685px;
//     left:150px;
// }
// .ds100text{
//     position: absolute;
//     width: 159px;
//     height: 57px;
//     left: 260px;
//     top: 152px;

//     font-family: Quicksand;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 19px;
//     line-height: 29px;
//     display: flex;
//     align-items: center;
// }