
@font-face{
    font-family: 'Quicksand-Bold';
    src: url("../fonts/Quicksand/Quicksand-Bold.ttf") format('trueType')
}
@font-face{
    font-family: 'Quicksand-Medium';
    src: url("../fonts/Quicksand/Quicksand-Medium.ttf") format('trueType');
}
@font-face{
    font-family: 'Quicksand-Light';
    src: url("../fonts/Quicksand/Quicksand-Light.ttf") format('trueType');
}
@font-face{
    font-family: 'Montserrat-Bold';
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format('trueType');
}
@font-face{
    font-family: 'Montserrat-Regular';
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format('trueType');
}

.logo{
    background-image: url("../Group.svg");
    position : absolute ;
    top:30px;
    left:30px;
    height: 48px;
    width: 48px;
}
@mixin cdtext($mt) {
    margin-top: $mt;
    margin-left: 142px;
}
@mixin cb($clr){
    width: 70px;
	height: 70px;
    background: $clr;
    border-radius: 6px;
    position: absolute;
}
@mixin namecolor() {
    margin-left: 110px;
    padding-top: 7px;
    font-family: Quicksand-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 29px;
    display: flex;
    align-items: right;
}
@mixin nocolor {
    padding-left: 110px;
    padding-top: 2px;
    font-family: Quicksand-Medium;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 19px;
}
.cdtext1{
    @include cdtext(145px);
    .cb-ds100 {
        @include cb(#1f2041);
    }
    .namecolor-ds100{
        @include namecolor();
    }
    .nocolor-ds100{
        @include nocolor();
    }
}

.cdtext2{
    @include cdtext(28px);
    .cb-ds75 {
        @include cb(#1f2041);
        opacity: 0.75;
    }
    .namecolor-ds75{
        @include namecolor();
    }
    .nocolor-ds75{
        @include nocolor();
    }
}

.tagh-text{
    position:absolute;
    left: 855px;
    top: 130px;
    width: 403px;
    display: flex;
    align-items: stretch;
    .tagh{
        font-family: Montserrat-Regular;
        font-size: 12px;
        text-transform: uppercase;
        color: #1f2041;
        opacity: 0.25;
    }
    .ttext{
        margin-left: 30px;
        font-family: Quicksand-Medium;
        font-size: 12px;
    }
}

.tagh-text2{
    margin-top: 255px;
    margin-left: 855px;
    width: 320px;
    display: flex;
    align-items: stretch;
    .tagh2{
        font-family: Montserrat-Regular;
        font-size: 12px;
        text-transform: uppercase;
        color: #1f2041;
        opacity: 0.25;
    }
    .ttext2{
        margin-left: 30px;
        font-family: Quicksand-Medium;
        font-size: 12px;
    }
}


// .ds50 {
// 	@include cb(#1f2041);
//     opacity: 0.50;
//     top:325px;
//     left:150px;
// }
// .ds25 {
// 	@include cb(#1f2041);
//     opacity: 0.25;
//     top:415px;
//     left:150px;
// }

// .ds5 {
// 	@include cb(#1f2041);
//     opacity: 0.05;
//     top:505px;
//     left:150px;
// }
// .purple {
// 	@include cb(#Bc9cff);
//     top:595px;
//     left:150px;
// }
// .green {
// 	@include cb(#6fcf97);
//     top:685px;
//     left:150px;
// }
// .ds100text{
//     position: absolute;
//     width: 159px;
//     height: 57px;
//     left: 260px;
//     top: 152px;

//     font-family: Quicksand;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 19px;
//     line-height: 29px;
//     display: flex;
//     align-items: center;
// }

body{
    font-family: 'Quicksand';
}