.registration-page{
  width: 100%;
  
  max-width: 1920px;
  background-image: url('img/orange-sofa.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  padding: 19px 0;
  margin: 0 auto;
}

.registration-page__registration {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 5px;
}

@media (max-width: 1000px) {
  .registration-page__registration {
    padding-left: 0;
  }
}