extends ../base/base

include ../../components/registration/registration

block title
  |Registration page
block main
  div(class="registration-page" title="a photo of room with orange sofa")
    .registration-page__form
      +registration
    