<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Registration
  body
    include ../../project/nav-bar/__buttons/nav-bar__buttons.pug
    .registration-page__main-photo
      include ../../project/registration/registration.pug

    include ../../project/footer-widgets/footer-widgets.pug
    include ../../project/copyright-bar/copyright-bar.pug
    