.registration-page__main-photo{
  background-size: 100% auto;
  background-image: url('image.jpg');

  display: flex;
  justify-content: center;
  align-items: center;
}
.registration-page__registration{
  margin: 19px;
}
.registration-page__wrapper{
  display: flex;
	flex-direction: column;
	min-height: 100%;
}
.registration-page__content{
  flex: 1 0 auto;
}
.registration-page__footers{
  flex: 0 0 auto;
}
