@import '../../theme/variables.scss';

.rich-checkbox{
  &__label {
    display: flex;
    cursor: pointer;
  }
  &__input{
    @include checkbox;
    flex-shrink: 0;
    cursor: pointer;
  }
  &__title{
    margin-left: 10px;
    margin-bottom: 9px;
  }
  &__major{
    font-weight: bold;
  }
  &__minor{
    display: inline-block;
    margin-top: 6px;
    font-size: 12px;
    line-height: 14px;
    color:$dark50;
  }
}


.rich-checkbox-list {
  &__title {
    margin-bottom: 16px;
  }
  &__inner {
    width: 100%;
    max-width: 266px;
    min-width: 200px
  }
}