mixin rich-checkbox(title)
  h3.rich-checkbox__major-title=title
  .rich-checkbox__inner
    label(class="rich-checkbox__label")
      input(class="rich-checkbox__input", type="checkbox") 
      span.rich-checkbox__title
        span.rich-checkbox__major
          |Широкий коридор
        span.rich-checkbox__minor="Ширина коридоров в номере не\u00A0менее 91 см."

    label(class="rich-checkbox__label")
      input(class="rich-checkbox__input", type="checkbox") 
      span.rich-checkbox__title
        span.rich-checkbox__major
          |Помощник для инвалидов
        span.rich-checkbox__minor="На 1 этаже вас встретит специалист и\u00A0проводит до номера."