include ../checkbox-button/checkbox-button

mixin rich-checkbox(title)
  .rich-checkbox
    h3.rich-checkbox__major-title=title
    .rich-checkbox__item
      +checkbox-button({rich: true, major: "Широкий коридор", minor: "Ширина коридоров в номере не\u00A0менее 91 см.", checked: false})
    .rich-checkbox__item
      +checkbox-button({rich: true, major: "Помощник для инвалидов", minor: "На 1 этаже вас встретит специалист и\u00A0проводит до номера.", checked: false})