@import '../../theme/variables.scss';

.rich-checkbox{
  width: 100%;
  max-width: 16.625rem;
  min-width: 12.5rem;
  &__major-title {
    margin-bottom: 1rem;
  }
  &__item {
    margin-bottom: 0.5rem;
  }
}