.room-check
  .room-check__room-with-price
    .room-check__room-descr
      h1.room-check__number-mark
        |№
      h1.room-check__room-number
        |888
      h3.room-check__class
        |люкс
    .room-check__price-descr
      p.room-check__price
        |9 990₽
      p.room-check__text
        |в сутки
  .room-check__date-fields
    include ../../blocks/calendar/calendar
  h3.room-check__block-title
    |гости
  .room-check__dropdown
    include ../../blocks/dropdown-guests/dropdown-guests.pug
  .room-check__item
    p.card_text-width
      |9 990₽ х 4 суток
    p
      |39 960₽

  .room-check__item
    .room-check__text-info
      p.room-check_text-width
        |Сбор за услуги: скидка 2 179₽
      include ../../blocks/info-icon/info-icon.pug
    p
      |0₽
      
  .room-check__item
    .room-check__text-info
      p.room-check_text-width
          |Сбор за дополнительные услуги
      include ../../blocks/info-icon/info-icon.pug
    p
      |300₽

  .room-check__final-price
    h2
      |Итого
    .room-check__dashed-line
    h2
      |38 081₽

  include ../../blocks/main-button/main-button.pug
  +main-button('Забронировать')