@import '../../theme/variables';

.info-icon {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid $dark25;
  margin-left: 0.3125rem;
  flex-shrink: 0;
  cursor: pointer;

  &::before {
    position: absolute;
    left: 0.4375rem;
    top: 50%;
    transform: translateY(-50%);
    color: $dark25;
    font-weight: bold;
    content: 'i';
    text-transform: none;
  }
}
