@import '../../theme/variables.scss';

.widget {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 1.25rem;
  align-items: start;
  padding: 0;
  margin: 0;
  & > li{
    list-style-type: none;
  }
  &__title{
    margin-bottom: 0.0625rem;
    margin-top: 0.25rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    color: $dark100;
  }
  &__item{
    text-decoration: none;
    color:$dark50;
    &:visited {
      color: $dark75;
    }
  }
}
