@import '../../theme/variables.scss';

.checkbox-list {
  width: 100%;
  min-width: 12.5rem;
  max-width: 13.875rem;
  &__title {
    margin-bottom: 1.0625rem;
  }
  &__item {
    margin-bottom: 0.625rem;
  }
}
