include ../like-button/like-button

mixin comment(options)
  .comment
    .comment__user
      img(src = "./img/" + options.img, alt = "photo")
      .comment__user-info
        .comment__name=options.name
        .comment__when=options.when+" "+"назад"
    .comment__review
      form.comment__like
        +like-button({number: options.likes})
      div.comment__text=options.text
