@import '../../theme/variables.scss';
.comment{
  width: 100%;
  max-width: 44.375rem;
  min-width: 21.875rem;
  
  display: flex;
  flex-direction: column;

  &__user{
    display: flex;
    & img {
      width: 3rem;
      border-radius: 50%;
      border: 0.125rem #fff solid;
      filter: drop-shadow(0 0.625rem 1.25rem $dark10);
    }
  }  
  &__user-info{
    margin-left: 0.625rem;
    line-height: 1.5rem;
  }  
  &__name{
    font-weight: bold;
  }  
  &__review{
    display: flex;
    margin-top: 0.625rem;
  }
  &__like{
    margin: 0.125rem 0.25rem;
  }  
  &__text{
    margin-left: 0.625rem;
    line-height: 1.5rem;
  }  
}