include ../like-button/like-button

mixin comment(options)
  .comment
    .comment__user
      img(src = "./img/" + options.img, alt = "photo")
      .comment__user-info
        .comment__name=options.name
        .comment__when=options.when+" "+"назад"
    .comment__review
      form.comment__like
        +like-button
      p.comment__text=options.text

//- +comment({img:"murad.jpg",name:"Мурад Сарафанов",when:"5 дней",text:"Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."})