@import './../../theme/variables.scss';

.index {
  display: flex;
  justify-content: space-around;
  margin: 1.25rem 0;
  &__ui-kit, 
  &__website-pages {
    display: flex;
    flex-direction: column;
  }

  &__link {
    text-decoration: none;
    font-size: 1.25rem;
    margin: 1.25rem 0;
    &:visited {
      color: $dark75;
    }
  }
}
