extends ../base/base-ui

block title 
  |index Page 
block main 
  .index
    .index__ui-kit
      a(href="colors-type.html")
        |Colors&Type
      a(href="form-elements.html")
        |Form elements
      a(href="cards.html")
        |Cards
      a(href="headers-footers.html")
        |Headers&footers

    .index__website-pages
      a(href="landing-page.html")
        |Landing
      a(href="search-room-page.html")
        |Search room
      a(href="room-details.html")
        |Room details
      a(href="registration-page.html")
        |Registration
      a(href="sign-in-page.html")
        |Sign-in
