extends ../base/base-ui

block title 
  |Index
block main 
  -
    const uiPages = [
      {href: "colors-type.html", title: "Colors&Type"},
      {href: "form-elements.html", title: "Form elements"},
      {href: "cards.html", title: "Cards"},
      {href: "headers-footers.html", title: "Headers&footers"},
    ]
    const websitePages = [
      {href: "landing-page.html", title: "Landing"},
      {href: "search-room-page.html", title: "Search room"},
      {href: "room-details.html", title: "Room details"},
      {href: "registration-page.html", title: "Registration"},
      {href: "sign-in-page.html", title: "Sign-in"},
    ]
  .index
    .index__ui-kit
      each item in uiPages 
        a(class = "index__link" href=item.href)=item.title
    .index__website-pages
      each item in websitePages 
        a(class = "index__link" href=item.href)=item.title
