extends ../base/base-ui

block title 
  |Index
block main 
  .index
    .index__ui-kit
      a(class = "index__link" href="colors-type.html")
        |Colors&Type
      a(class = "index__link" href="form-elements.html")
        |Form elements
      a(class = "index__link" href="cards.html")
        |Cards
      a(class = "index__link" href="headers-footers.html")
        |Headers&footers

    .index__website-pages
      a(class = "index__link" href="landing-page.html")
        |Landing
      a(class = "index__link" href="search-room-page.html")
        |Search room
      a(class = "index__link" href="room-details.html")
        |Room details
      a(class = "index__link" href="registration-page.html")
        |Registration
      a(class = "index__link" href="sign-in-page.html")
        |Sign-in
