@import '../../theme/variables.scss';

.radio-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 12.5rem;
  max-width: 13.75rem;

  &__title{
    margin-left: 0.625rem;
  }
  &__label{
    display: flex;
    cursor: pointer;
  }
  &__input {
    -webkit-appearance: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 0.0625rem solid $dark25;
    margin: 0;
    &::before{
      content: '';
      display: block;
    }
    &:checked{
      border: 0.0625rem solid #BC9CFF;
      &::before {
        width: 0.75rem;
        height: 0.75rem;
        background: $primary-gradient;
        border-radius: 50%;
      }
    }
  }

}