mixin radio-button(title = '')
  if title
    h3.radio-button__major-title=title
  .radio-button__inputs-wrapper
    label(class='radio-button__label')
      input(class='radio-button__input', type='radio',name = 'gender', checked)
      span.radio-button__title
        |Мужчина
      

    label(class='radio-button__label')
      input(class='radio-button__input', type='radio',name = 'gender')  
      span.radio-button__title
        |Женщина
      
