mixin radio-button(items)
  .radio-button
    each item in items 
      label(class="radio-button__label")
        input(class="radio-button__input", type="radio", name = item.name, checked=item.checked)
        span.radio-button__title=item.title