include ../../blocks/checkbox-button/checkbox-button

mixin expandable(options)
  
  label(class="expandable-checkbox__label" type="checkbox" )
    h3.expandable-checkbox__label-title=options.title
    input(class="expandable-checkbox__input" type="checkbox" checked="option.condition")
    span.expandable-checkbox__icon
      |expand_more

    ul.expandable-checkbox__list
      li.expandable-checkbox__li
        +checkbox-button('Завтрак',false)

      li.expandable-checkbox__li
        +checkbox-button('Письменный стол',true)

      li.expandable-checkbox__li
        +checkbox-button('Стул для кормления',true)

      li.expandable-checkbox__li
        +checkbox-button('Кроватка',true)

      li.expandable-checkbox__li
        +checkbox-button('Телевизор',false)

      li.expandable-checkbox__li
        +checkbox-button('Шампунь',false)
