//colors
$original: #1F2041;

$deep:  rgba($original,.75);
$dark: rgba($original,.5);
$medium: rgba($original,.25);
$light: rgba($original,.1);
$lightest: rgba($original,.05);

$primary:#Bc9cff;
$secondary: #6fcf97;
$primary-gradient: linear-gradient(180deg, $primary 0%, #8BA4F9 100%);
$primary-gradient-50: linear-gradient(180deg, rgba(188, 156, 255,0.5) 0%, rgba(139, 164, 249, 0.5) 100% );
$secondary-gradient: linear-gradient(180deg, $secondary 0%, #66D2EA 100%);

$minwidth: 320px;
$mw: 1160;
$md1: $mw+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
