extends ../base/base-ui

include ../../components/color-intro/color-intro
include ../../components/font-intro/font-intro

block title
  |Colors&type
block main 
  .colors-type
    .colors-type__color-intro
      +color-intro({title: "Dark Shade 100%",number: "#1f2041"})(class="color-intro__block_dark100")
      +color-intro({title: "Dark Shade 75%", number: "#1f2041"})(class="color-intro__block_dark75")
      +color-intro({title: "Dark Shade 50%", number: "#1f2041"})(class="color-intro__block_dark50")
      +color-intro({title: "Dark Shade 25%", number: "#1f2041"})(class="color-intro__block_dark25")
      +color-intro({title: "Dark Shade 5%", number: "#1f2041"})(class="color-intro__block_dark5")
      +color-intro({title: "Purple", number: "#Bc9cff"})(class="color-intro__block_primary")
      +color-intro({title: "Green", number: "#6fcf97"})(class="color-intro__block_secondary")

    .colors-type__font-intro
      +font-intro({type: "h1", description: "This one is the sub-section or widget title"})
      +font-intro({type: "h2", description: "Next one is the item title inside widgets"})
      +font-intro({type: "h3", description: "this is a label or cta text"})
      +font-intro({type: "Body", description: "This is the body text which is used for most of the design, like paragraphs, lists, etc."})
        