@import '../../theme/variables';

.colors-type {
  display: grid;
  grid-column-gap: 25.6875rem;
  grid-template-columns: 17.8125rem 27.25rem;
  margin-left: 9.375rem;
  margin-right: 9.875rem;
  margin-top: 4.1875rem;
}
