label(class='date-dropdown__label') 
    input(class='date-dropdown__input date-dropdown__input_size_l', 
            type='text', 
            placeholder='19 авг - 23 авг' )
    button(class='date-dropdown__expand')
        |expand_more