@import '../../theme/variables.scss';

.convenience__wrapper{
  width: 100%;
  max-width: 280px;

  display: flex;
  align-items: center;
  border-bottom: 1px solid $dark10;
  padding: 15px 0;
  margin-bottom: 1px;
  &:last-child{
    border: none;
    padding-bottom: 0;
  }
}
.convenience__sign{
  font-family: Material Icons;
  font-size: 48px;

  background:-moz-linear-gradient(top, $primary 0%, #8BA4F9 100%); 
  background: -webkit-linear-gradient(top, $primary 0%,#8BA4F9 100%); 
  background: linear-gradient(to bottom, $primary 0%,#8BA4F9 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color:transparent;
}
.convenience__text{
  margin-left: 10px;
  
}
.convenience__main-text{
  font-weight: bold;
  margin-bottom: 6px;
}