
mixin room-example(data)
  .room-example
    .room-example__photo
      img(src=data.img width='100%' alt='photo')
    .room-example__inner
      .room-example__descr
        .room-example__flex-start
          h1.room-example__number-mark.
            №
          h1.room-example__number=data.number
          if data.lux
            h3.room-example__class.
              люкс

        .room-example__flex-start
          p.room-example__price=data.price
          p.room-example__rouble.
            ₽
          p.room-example__text.
            в сутки

      .room-example__border

      .room-example__feedback
        include ../../blocks/rate-button/rate-button.pug
        .room-example__flex-start
          p.room-example__comments-number=data.comments
          p.room-example__comments.
            Отзывов

//- +room-example({img:'room-example-1.jpg',number:888,lux:true,price:9990,comments:145})
//- +room-example({img:'room-example-2.jpg',number:840,lux:false,price:9900,comments:65})
