@import '../../theme/variables.scss';
.calendar {
  &__start,
  &__end,
  &__filter-input
  {
    position: relative;
    width: 100%;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 0.875rem;
    color: $dark75;
    padding: 0.75rem;
    padding-right: 2.1875rem;
    border: 0.0625rem solid $dark25;
    border-radius: 0.25rem;
    @include placeholder{}
  }
  &__title{
    margin-bottom: 0.3125rem;
  }
  &__input {
    position: relative;
  }
  &__expand {
    position: absolute;
    top: 0.6875rem;
    right: 0.625rem;
    content: 'expand_more';
    font-family: Material Icons;
    font-size: 1.5rem;
    color: $dark50;
    cursor: pointer;
  }
  &_filter {
    min-width: 12.5rem;
    max-width: 16.625rem;
  }
  &_separate {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__block{
    width: 46.88%;
  }  
}

@media (max-width: 400px) {
  .calendar {
    &_separate{
      flex-direction: column;
      align-items: center;
    }
    &__block{
      width: 100%;
    }  
  }
}
