mixin calendar({type, title, titleExtra} = {})
  if type === "separate"
    .calendar.calendar_type_separate
      -
        const inputs = [
          {title, modifier: "start"},
          {title: titleExtra, modifier: "end"},
        ]
      each input in inputs
        -
          const classes = "calendar__" + input.modifier + " js-calendar__" + input.modifier
        .calendar__block
          h3.calendar__title=input.title
          .calendar__input
            input(type="text" class=classes, placeholder="ДД.ММ.ГГГГ")
            .calendar__expand.js-calendar__expand 
              |expand_more

  if type === "filter"
    .calendar.calendar_type_filter
      h3.calendar__title=title
      .calendar__input
        input(type="text" class="calendar__filter-input js-calendar__filter-input")
        .calendar__expand.js-calendar__expand
          |expand_more

  if type === "constant"
    div(class="calendar js-calendar_type_constant")

