// @import '~air-datepicker/dist/css/datepicker.min.css';
@import '../../theme/variables.scss';
@import '../../theme/global.scss';

.calendar__input-wrapper{
  width:100%;
  display:flex;
  justify-content: space-between;
}
.calendar__block{
  width:46.88%;
}
.calendar__start,
.calendar__end
{
  width: 100%;
  @include body-font($deep);
  padding: 12px;
  border: 1px solid $medium;
  border-radius: 4px;
  &::after{
    content: 'expand_more';
    font-family: Material Icons;
    font-size: 24px;

  }
}
.calendar__block-title{
  margin-bottom: 5px;
}

.datepicker--cell-day.-other-month-, 
.datepicker--cell-year.-other-decade- {
  color: $medium; 
}
.-selected-.datepicker--cell-day.-other-month-, 
.-selected-.datepicker--cell-year.-other-decade- {
  color: #fff;
  background: $primary-gradient; 
}

.-in-range-.datepicker--cell-day.-other-month-, 
.-in-range-.datepicker--cell-year.-other-decade- {
  background-color: $primary-gradient-25;
  color: $dark; 
}
.datepicker--cell-day.-other-month-:empty, 
.datepicker--cell-year.-other-decade-:empty {
  background: none;
  border: none; 
}

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */
.datepicker--cells {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.datepicker--cell {
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  z-index: 1; }

  .datepicker--cell.-current- {
    color: #fff;
    font-weight:bold;
    height:40px;
    width:40px;
    border-radius: 50%;
    background: $secondary-gradient;
  }
  .datepicker--cell.-in-range- {
    background: $primary-gradient-25;
    color:$dark;
    border-radius: 0;
  }
  

  .datepicker--cell.-range-to-,
  .datepicker--cell.-range-from- {
    width:40px;
    height:40px;
    border-radius:50%;
    font-weight: bold;
    position: relative;
  }
  .datepicker--cell.-range-from-::after{
    content: '';
    height: 100%;
    width: 50%;
    background: $primary-gradient-25;
    position: absolute;

    left: 20px;
    z-index: -1;
  }
  .datepicker--cell.-range-to-::after{
    content: '';
    height: 100%;
    width: 50%;
    background: $primary-gradient-25;
    position: absolute;
    
    right: 20px;
    z-index: -1;
  }

  .datepicker--cell.-selected- {
    color: #fff;
    border: none;
    background: $primary-gradient;
   }

.datepicker--days-names {
  @include h3-font;
  

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 8px 0 3px; 
}

.datepicker--day-name {
  color: $primary;
  text-transform: none;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-size: .8em; 
}

.datepicker--cell-day {
  width: 14.28571%; 
}

.datepicker--cells-months {
  height: 170px; 
}

.datepicker--cell-month {
  width: 33.33%;
  height: 25%; 
}

.datepicker--years {
  height: 170px; 
}

.datepicker--cells-years {
  height: 170px; }

.datepicker--cell-year {
  width: 25%;
  height: 33.33%; }



/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */
.datepickers-container {
  position: absolute;
  left: 0;
  top: 0; }
  @media print {
    .datepickers-container {
      display: none; } }

.datepicker {
  background: #fff;
  border: 1px solid $medium;
  border-radius: 4px;

  box-sizing: content-box;
  @include body-font($dark);
  min-width: 320px;
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  z-index: 100; }
  .datepicker.-from-top- {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px); }
  .datepicker.-from-right- {
    -webkit-transform: translateX(8px);
            transform: translateX(8px); }
  .datepicker.-from-bottom- {
    -webkit-transform: translateY(8px);
            transform: translateY(8px); }
  .datepicker.-from-left- {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px); }
  .datepicker.active {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
    transition: opacity 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease; }


.datepicker--content {
  box-sizing: content-box;
  padding: 4px; }
  .-only-timepicker- .datepicker--content {
    display: none; }

// .datepicker--point

.datepicker--body {
  display: none; }
  .datepicker--body.active {
    display: block; }



/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */
.datepicker--nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 32px;
  padding: 4px; }
  .-only-timepicker- .datepicker--nav {
    display: none; }

.datepicker--nav-title,
.datepicker--nav-action {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.datepicker--nav-action {
  width:50px;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; 
  }

  .datepicker--nav-action {
    color:$primary;
  }

.datepicker--nav-title {
  @include h2-font;
  padding: 0 8px; }
  .datepicker--nav-title i {
    font-style: normal;
    margin-left: 5px; }
  .datepicker--nav-title.-disabled- {
    cursor: default;
    background: none; }

.datepicker--buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
}

.datepicker--button {
  
  @include h3-font;
  color: $primary;
  cursor: pointer;
  border-radius: 4px;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px; }
  // .datepicker--button:hover {
  //   color: #4a4a4a;
  //   background: #f0f0f0; }

