@import '../../theme/variables.scss';

$datepickerMinBodyHeight: 15rem;

.datepicker--cells {
  display: flex;
  flex-wrap: wrap;
}

.datepicker--cell {
  border-radius: 1.375rem;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  z-index: 1;


  &.-current- {
    background: $secondary-gradient;
    color: #FFF;
    font-weight: bold;
  }

  &.-in-range- {
    background: $primary-gradient-25;
    color: $dark50;
    border-radius: 0;
  }


  &.-range-from-.-range-to- {
    position: relative;
    background: $primary-gradient;
    border-radius: 50%;
  }
  &.-range-from- {
    &:before {
      position: absolute;
      content: '';
      height: 100%;
      width: 50%;
      background: $primary-gradient-25;
      
      z-index: -1;
      left: 1.25rem;
    }
  }
  &.-range-to- {
    &:before {
      position: absolute;
      content: '';
      height: 100%;
      width: 50%;
      background: $primary-gradient-25;
      
      z-index: -1;
      right: 1.25rem;
    }
  }

  &.-selected- {
    color: #fff;
    border: none;
    font-weight: bold;
    background: $primary-gradient;
  }

}

//  Day names
// -------------------------------------------------

.datepicker--days-names {
  display: flex;
  flex-wrap: wrap;
  height: 2.5rem;
}

.datepicker--day-name {
  color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
}

//  Day cell
// -------------------------------------------------

//  Day cell
// -------------------------------------------------

.datepicker--cell-day {
  width: (100/7)#{'%'};
  color: $dark50;
  &.-other-month- {
    color: $dark25;
  }
}


//  Months
// -------------------------------------------------

.datepicker--months {}

.datepicker--cells-months {
  height: $datepickerMinBodyHeight;
}

//  Month cell
// -------------------------

.datepicker--cell-month {
  width: 33.33%;
  height: 25%;
}

//  Years
// -------------------------------------------------

.datepicker--years {
  height: $datepickerMinBodyHeight;
}

.datepicker--cells-years {
  height: $datepickerMinBodyHeight;
}
//  Year cell
// -------------------------

.datepicker--cell-year {
  width: 25%;
  height: 33.33%;
  color: $dark50;
  &.-other-decade- {
    color: $dark25
  }
}