@import '../../theme/variables.scss';

/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */

.datepickers-container {
  position: absolute;
  left: 0;
  top: 0;

  @media print {
    display: none;
  }
}

.datepicker {
  background: #fff;
  border: 0.0625rem solid $dark25;
  box-shadow: 0 0.625rem 1.25rem $dark5;
  border-radius: 0.25rem;
  width: 20rem;
  position: absolute;
  left: -6250rem;
  opacity: 0;
  z-index: 100;

  &.-from-top- {
    transform: translateY(-0.5rem);
  }
  &.-from-right- {
    transform: translateX(0.5rem);
  }
  &.-from-bottom- {
    transform: translateY(0.5rem);
  }
  &.-from-left- {
    transform: translateX(-0.5rem);
  }


  &.active {
    opacity: 1;
    transform: translate(0);
    transition: opacity 0.5rem ease, transform .3s ease, left 0s 0s;
  }
}

.datepicker-inline {
  .datepicker {
    box-shadow: none;
    position: static;
    left: auto;
    right: auto;
    opacity: 1;
    transform: none;
  }

  .datepicker--pointer {
    display: none;
  }
}

.datepicker--content {
  box-sizing: content-box;
  padding: 0.625rem 1.25rem 1.375rem 1.25rem;

  .-only-timepicker- & {
    display: none;
  }
}


//  Body
// -------------------------------------------------

.datepicker--body {
  display: none;

  &.active {
    display: block;
  }
}