@import '../text-button/text-button.scss';

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */

.datepicker--nav {
  display: flex;
  justify-content: space-between;
  padding: 1.125rem 1.25rem 1.25rem 1.25rem;

  .-only-timepicker- & {
    display: none;
  }
}

.datepicker--nav-title,
.datepicker--nav-action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}


.datepicker--nav-title {
  font-family: Montserrat,Arial,sans-serif;
  font-size: 1.1875rem;
  font-weight: bold;
}
.datepicker--nav-action i {
  font-style: normal;
  color: $primary;
}

//  Buttons
// -------------------------------------------------

.datepicker--buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 1.25rem 1.125rem 1.25rem;
}

.datepicker--button {
  @include text-button;
}