@import './variables';
@import '~material-design-icons/iconfont/material-icons.css';

* {
  box-sizing: border-box;
}

html {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  color: $dark75;
  background: #fff;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 0.875rem;
}
