<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Cards
    body
        include ../project/simple-header/simple-header__logo.pug
        include ../project/search-rooms/search-rooms.pug
        include ../project/registration-form/registration-form.pug
        include ../project/sign-in/sign-in.pug
        include ../project/room-check/room-check.pug
        .cards__calendar
            .cards
                include ../blocks/calendar/calendar.pug
        include ../project/room-example/room-example.pug
        