html(lang="en")
  head
    title= "Form elements"
    meta(charset='utf-8')
  body
    //- header
    include ../project/simple-header/simple-header__logo.pug
    form
      include ../blocks/text-field/_default/text-field_default.pug
      include ../blocks/text-field/_activated/text-field_activated.pug

      include ../blocks/checkbox-button/checkbox-button.pug
      include ../blocks/radio-button/radio-button.pug

      include ../blocks/toggle/toggle.pug
      include ../blocks/like-button/like-button.pug
      include ../blocks/rate-button/rate-button.pug

      include ../blocks/button/_color-theme_filled-gradient/button_color-theme_filled-gradient.pug
      include ../blocks/button/_color-theme_gradient-border/button_color-theme_gradient-border.pug

      include ../blocks/text-button/_color_ds50/text-button_color_ds50.pug
      include ../blocks/text-button/_color_purple/text-button_color_purple.pug
      include ../blocks/button/button-pay.pug
      include ../blocks/pagination/pagination.pug
      include ../blocks/range-slider/range-slider.pug


    //- .simple-header__logo
    //-     include ../blocks/logo/logo.pug

//- <!DOCTYPE html>
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title Form-elements
//-     body
//-         .header
//-             .logo

//-         .container
//-             form
//-                 .forms__easy-form 
//-                     .column1
//-                         label(for="text-field") 
//-                             .hn-text__descr_h3 text field
//-                         input(type='text', name='text-field', value='', placeholder='Email')
                    
//-                         label(for="text-field-hover") 
//-                             .hn-text__descr_h3 text field
//-                         .forms__easy-form_hover
//-                             input(type='text', id='text-field-hover', placeholder='This is pretty awesome' )

//-                         label(for="dropdown") 
//-                             .hn-text__descr_h3 dropdown
//-                             input(type='', id='dropdown', placeholder='Сколько гостей',data-toggle='dropdown')

//-                         label(for="masked text field") 
//-                             .hn-text__descr_h3 masked text field
//-                         //- .forms__easy-form_masked-text-field
//-                         input(type='date', id='masked text field' )   

//-                         .image
//-                             .insert_emoticon
//-                             .location_city         
//-                     .column2 
//-                         .checkbox
//-                             |Checkbox Buttons
//-                             label(for="smoke") 
//-                                 input(id='smoke', type='checkbox' name='may')
//-                                 | Можно курить
                                

//-                             label(for="pet")
//-                                 input(id='pet', type='checkbox' name='may')
//-                                 | Можно с питомцами

//-                             label(for="gest")
//-                                 input(id='gest', type='checkbox' name='may')
//-                                 | Можно пригласить гостей (до 10 человек)


//-                         .radio-button
//-                             | Radio Buttons
//-                             label(for="man")
//-                                 input(id='man', type='radio' name='man-female')
//-                                 | Мужчина

//-                             label(for="woman")
//-                                 input(id='woman' type='radio' name='man-female')
//-                                 | Женщина

//-                             label(for='toggle')
//-                                 input(id='toggle' type='checkbox' name='toggle button')
//-                                 span
//-             .image
//-                 .insert_emoticon
//-                 .location_city  