.sign-in-page{
  width: 100%;
  
  max-width: 1920px;
  background-image: url('img/orange-sofa.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  padding: 172px 0 175px;
  margin: 0 auto;
}

.sign-in-page__form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}