extends ../base/base
include ../../components/sign-in/sign-in

block title
  |Sign in
block main
  div(class="sign-in-page " title="a photo of room with orange sofa") 
    .sign-in-page__form
      +sign-in