.sign-in-page{
  width: 100%;
  
  max-width: 1920px;
  background-image: url('image.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  padding: 19px 0;
  display: flex;
  justify-content: center;

}