.search-rooms
  h1.search-rooms__title
    |Найдём номера под ваши пожелания
  .search-rooms__date-fields
    include ../../blocks/calendar/calendar
  .search-rooms__dropdown
    h3.search-rooms__block-title
      |гости
    include ../../blocks/dropdown-guests/dropdown-guests
  include ../../blocks/main-button/main-button
  +main-button('подобрать номер')