include ../../blocks/button/button

.search-rooms
  h1.search-rooms__title
    |Найдём номера под ваши пожелания
  .search-rooms__date-fields
    include ../../blocks/calendar/calendar
  .search-rooms__dropdown
    h3.search-rooms__block-title
      |гости
    include ../../blocks/dropdown-guests/dropdown-guests
  .search-rooms__button-arrow
    +button('подобрать номер')(class="button_arrow")