.search-rooms
    .cards
        .cards__title
            |Найдём номера под ваши пожелания
        .cards__medium-gap
            .cards__flex
                div
                    .cards__block-title
                        |прибытие
                    include ../../blocks/date-dropdown/__input/_size_s/date-dropdown__input_size_s.pug
                div
                    .cards__block-title
                        |выезд
                    include ../../blocks/date-dropdown/__input/_size_s/date-dropdown__input_size_s.pug
        .cards__big-gap
            .cards__block-title
                |гости
            include ../../blocks/dropdown-guests/dropdown-guests.pug
        include ../../blocks/main-button/main-button.pug
        +main-button('подобрать номер')