mixin dropdown-guests
  .iqdropdown.iqdropdown_guests
    p.iqdropdown-selection
    .iqdropdown-menu
      div(class="iqdropdown-menu-option" data-id="item1")
        h3.iqdropdown-item
          |Взрослые
      div(class="iqdropdown-menu-option" data-id="item2")
        h3.iqdropdown-item
          |Дети
      div(class="iqdropdown-menu-option" data-id="item3")
        h3.iqdropdown-item
          |Младенцы
      button.iqdropdown-set
        |Применить
      button.iqdropdown-clear
        |Очистить
