<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Form-elements
    body
        .header
            .logo

        .container-fe
            .columns
                .column1
                    .forms
                        form
                            label(for="text-field") 
                               .hn-text__descr_h3 text field
                            input(type='text', name='text-field', value='', placeholder="Email")
                            .hover-form
                                label(for="text-field") 
                                .hn-text__descr_h3 text field
                                input(type='text', name='text-field', value='', placeholder="This is pretty awesome" )
                .column2 
