doctype html
html(lang="en")
  head
    //- link(rel="stylesheet", href="main.css")
    title= "UI-Kit"
    meta(charset='utf-8')
  body
    .header
      .logo
    
    mixin color-block-text(color,ncolor)
        .color-text 
          .color-text__color-block_color  
            div(class!=attributes.class)
          .color-text__name-and-color-number
            .color-text__name-color=color
            .color-text__color-number=ncolor


    .container
      .all-blocks-color-text
        +color-block-text('Dark Shade 100%','#1f2041')(class="color-text__color-block_color_ds100")
        +color-block-text('Dark Shade 75%','#1f2041')(class="color-text__color-block_color_ds75")
        +color-block-text('Dark Shade 50%','#1f2041')(class="color-text__color-block_color_ds50")
        +color-block-text('Dark Shade 25%','#1f2041')(class="color-text__color-block_color_ds25")
        +color-block-text('Dark Shade 5%','#1f2041')(class="color-text__color-block_color_ds5")
        +color-block-text('Purple','#Bc9cff')(class="color-text__color-block_color_purple")
        +color-block-text('Green','#6fcf97')(class="color-text__color-block_color_green")

      //- .all-blocks-hn-text
      //-   .hn-text
      //-     .hn-text__hn 
      //-       h1 h1
      //-     .hn-text__descr
      //-       h1 This one is the sub-section or widget title

      .tagh-text
        .tagh 
          h1 h1
        .ttext 
          h1 This one is the sub-section or widget title

      .tagh-text2
        .tagh2 
          h2 h2
        .ttext2 
          h2 Next one is the item title inside widget

    //- h1 This one is the sub-section or widget title
    //- h2 Next one is the item title inside widget
    //- h3 this is a label or cta text
    //- p This is the body text which is used for most of the design, like paragraph, list, etc.