doctype html
html(lang="en")
  head
    //- link(rel="stylesheet", href="main.css")
    title= "UI-Kit"
    meta(charset='utf-8')
  body
    .logo
    
    .cdtext1 
      .cb-ds100  
      .namecolor-ds100 Dark Shade 100%
      .nocolor-ds100 #1f2041

    .cdtext2 
      .cb-ds75  
      .namecolor-ds75 Dark Shade 75%
      .nocolor-ds75 #1f2041

    .tagh-text
      .tagh 
        h1 h1
      .ttext 
        h1 This one is the sub-section or widget title

    .tagh-text2
      .tagh2 
        h2 h2
      .ttext2 
        h2 Next one is the item title inside widget

    //- .ds100 
    //- .ds100text Dark Shade 100% #1f2041
    .ds75 
    //- Dark Shade 75% #1f2041
    .ds50
    //- Dark Shade 50% #1f2041
    .ds25 
    //- Dark Shade 25% #1f2041
    .ds5 
    //- Dark Shade 5% #1f2041
    .purple 
    //- Purple #Bc9cff
    .green 
    //- GreenGredknakjdnkj #6fcf97
    //- h1 This one is the sub-section or widget title
    //- h2 Next one is the item title inside widget
    //- h3 this is a label or cta text
    //- p This is the body text which is used for most of the design, like paragraph, list, etc.