.iqdropdown .iqdropdown-item-controls {
  display: flex;
  height: 30px;
  

  .counter {
    //include h3-font;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    align-items: center;
    border: 1px solid $dark;
    width: 30px;
    border-radius: 50%;
    display: flex;

    // transition: all 0.2s ease-in-out;



    &.button-decrement {
      // opacity: 0;
    }

    &.button-increment {
      // opacity: 0;
    }
    
  }
}