.iqdropdown-set{
    font-family: Montserrat-bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $purple;
    float: right;
    padding-bottom: 13px;
    padding-right: 7px;
}
.iqdropdown-clear{
    font-family: Montserrat-bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark-shade-50;
    float: left;
    padding-bottom: 13px;
    padding-left: 14px;
}