@import '../../theme/variables.scss';

.masked-text-field{
  width: 100%;
  max-width: 20rem;
  min-width: 9.375rem;
  &__input {
    width: 100%;
    @include text-field__frame;
    padding: 0.8125rem 0.9375rem 0.875rem 0.9375rem;
    @include placeholder{
      font-family: Montserrat, Arial, sans-serif;
      font-size: 0.875rem;
      color: $dark25;
    }
    outline: none;
    &:focus {
      border: 1px solid $dark50;
    }
  }
  &__title {
    color: $dark100;
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-bottom: 0.3125rem;
  }
}