@import '../../theme/variables.scss';

.masked-text-field{
  &__input {
    width: 100%;
    max-width: 20rem;
    min-width: 9.375rem;
    @include text-field__frame;
    padding-left: 0.9375rem;
    padding-top: 0.8125rem;
    padding-bottom: 0.875rem;
    @include placeholder{
      font-family: Montserrat, Arial, sans-serif;
      font-size: 0.875rem;
      color: $dark25;
    }
  }
  &__title {
    margin-bottom: 0.3125rem;
  }
}