@import '../variables.scss';
h1{
  font-family: Quicksand,Opensans;
  font-weight: bold;
  font-size: 1.5rem;
  // line-height: 125%;
  color: $original;
}
h2{
  font-family: Quicksand,Opensans;
  font-weight: bold;
  font-size: 1.1875rem;
  // line-height: 126.3%;
  color: $original;
}
h3{
  font-family: Montserrat;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem;
  // line-height: 125%;
  color: $original;
}
@mixin placeholder-font($color){
  font-family: Montserrat;
  font-size: 14px;
  color: $color;
}
@mixin icons{
  font-family: 'Material Icons';
  font-size: 1.5rem;
}