@mixin h1-font{
    font-family: Quicksand-Bold;
    font-size: 24px;
    // line-height: 30px;
}
@mixin h2-font{
    font-family: Quicksand-Bold;
    font-size: 19px;
    // line-height: 24px;
}
@mixin h1-font-cyrillic{
    font-family: Opensans-Bold;
    font-size: 24px;
    line-height: 30px;
}
@mixin h2-font-cyrillic{
    font-family: Opensans-Bold;
    font-size: 19px;
    line-height: 24px;
}
@mixin h3-font{
    font-family: Montserrat-Bold;
    font-size: 12px;
    // line-height: 15px;
    text-transform: uppercase;
}
@mixin body-font($color){
    font-family: Montserrat;
    font-weight: normal;
    font-size: 14px;
    // line-height: 24px;
    color:$color;
}
@mixin icons-font{
    font-family: 'Material Icons';
    font-size: 1.5rem;
}