@mixin text-field__frame($padding-left){
    border: 1px solid $medium;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: $padding-left;
    padding-top: 13px;
    padding-bottom: 13px;
}
@mixin text-field__icon{
    @include icons-font;
    border:1px solid $medium;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    border-left:transparent;
}
@mixin text-field__left-input{
    border: 1px solid $medium;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: transparent;
    box-sizing: border-box;
    
    padding-left: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
}
// placeholder(Chrome and Firefox 19+)
@mixin placeholder {
    &::-webkit-input-placeholder {@content;}
    &::-moz-placeholder          {@content;}
}
@mixin placeholder-hovered-focused {
    &:focus::-webkit-input-placeholder {@content;}
    &:focus::-moz-placeholder          {@content;}
    
    &:hover::-webkit-input-placeholder {@content;}
    &:hover::-moz-placeholder          {@content;}
}