include ../button/button
include ../toxin-logo/toxin-logo

mixin header(options)
  .header.js-header
    .header__wrapper
      .header__logo
        +toxin-logo

      nav.header__nav  
        ul.header__ul
          li
            if (options.boldAbout)
              a(href="/toxin/mock-address" class="header__link header__link_bold")
                |О нас
            else 
              a(href="/toxin/mock-address" class="header__link")
                |О нас
          li
            a(href="/toxin/mock-address" class="header__link header__link_pseudo")
              |Услуги
          li
            a(href="/toxin/mock-address" class="header__link")
              |Вакансии
          li
            a(href="/toxin/mock-address" class="header__link")
              |Новости
          li
            a(href="/toxin/mock-address" class="header__link header__link_pseudo")
              |Соглашения
        if (options.user) 
          a(href="/toxin/mock-address" class="header__user")
            |Юлий Цезарь
        else
          form
            .header__button.header__button_fill_empty
              +button({fill: "empty", height: "small", title: "войти"})
          form
            .header__button.header__button_fill_full
              +button({fill: "full", height: "small", title:"зарегистрироваться"})


