include ../button/button
include ../toxin-logo/toxin-logo

mixin header
  .header
    .header__wrapper
      .header__logo
        +toxin-logo

      nav.header__nav  
        ul.header__ul
          li
            a(href="" class="header__link header__link_bold")
              |О нас
          li
            a(href="" class="header__link header__link_pseudo")
              |Услуги
          li
            a(href="" class="header__link")
              |Вакансии
          li
            a(href="" class="header__link")
              |Новости
          li
            a(href="" class="header__link header__link_pseudo")
              |Соглашения
        .header__button.header__button_border
          +button('войти')(class="button_border")
        .header__button.header__button_filled
          +button('зарегистрироваться')(class="button_filled")

