@import '../../theme/variables.scss';

.header{
  width: 100%;
  background: #fff;
  box-shadow: 0 0.625rem 1.25rem $dark5;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    width: 80.6%;
    margin: 0 auto;
    max-width: 120rem-17.5rem;
  }
  &__logo{
    padding: 0.9375rem 0;
  }
  &__nav,
  &__ul{
    display: flex;
    align-items: center;
  }
  &__ul>li{
    list-style-type: none;
  }
  &__link{
    color: $dark50;
    margin-left: 1.25rem;
    &_bold{
      color: $dark75;
      max-height: 1.25rem;
      font-weight: bold;
    }
    &_pseudo{
      margin-right: 1.5625rem;
      position: relative;
        &::after{
          font-family: Material Icons;
          font-size: 1.5rem;
          content: 'expand_more';
    
          position: absolute;
          top: -0.1875rem;
        }
    }
  }
  &__user{
    color: $dark50;
    padding-left: 1.25rem;
    border-left: 0.0625rem solid $dark10;
    line-height: 1.875rem;
    margin-left: 1.25rem;
  }
  &__button{
    margin-left:1.25rem;
    height: 2.125rem;
  }
  &__button_fill_empty{
    width: 5.4375rem;
  }
  &__button_fill_full{
    width: 12.25rem;
  }
}



@media screen and (max-width: 1120px) {
  .header {
    &__wrapper{
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0 auto;
    }
    &__logo{
      margin: 0.3125rem;
    }
    &__nav{
      flex-direction: column;
    }
    &__ul{
      margin-bottom: 0.3125rem;
    }
    &__button{
      margin: 0 0 0.3125rem 0;
    }
    &__user{
      color: $dark50;
      border: 0;
    }
  }
  
}
@media screen and (max-width: 600px) {
  .header__ul{
    flex-direction: column;
    align-items: start;
  }
}
