include ../button/button
include ../toxin-logo/toxin-logo

mixin header({ boldAbout, user })
  - 
    items = [
      {href: "/toxin/mock-address", text: "О нас", bold: boldAbout},
      {href: "/toxin/mock-address", text: "Услуги", expandable: true},
      {href: "/toxin/mock-address", text: "Вакансии"},
      {href: "/toxin/mock-address", text: "Новости"},
      {href: "/toxin/mock-address", text: "Соглашения", expandable: true},
    ]
  .header.js-header
    .header__wrapper
      .header__logo
        +toxin-logo

      nav.header__nav.js-header__nav 
        ul.header__ul 
          each item in items
            - 
              var classes = "header__link "
              item.bold ? classes = classes + "header__link_bold " : ""
              item.expandable ? classes = classes + "header__link_expandable" : ""
            li
              a(href=item.href class=classes)=item.text
        if (user) 
          a(href="/toxin/mock-address" class="header__user")
            |Юлий Цезарь
        else
          .header__button.header__sign-in-button
            +button({ themeModifier: "bordered", sizeModifier: "small", title: "войти" })
          .header__button.header__registration-button
            +button({ themeModifier: "filled", sizeModifier: "small", title:"зарегистрироваться" })

      .header__burger.js-header__burger 
        .header__burger-line.js-header__line1
        .header__burger-line.js-header__line2
        .header__burger-line.js-header__line3


