include ../button/button
include ../toxin-logo/toxin-logo

mixin header(boldAbout = true, user = false)
  .header
    .header__wrapper
      .header__logo
        +toxin-logo

      nav.header__nav  
        ul.header__ul
          li
            if (boldAbout)
              a(href="/toxin/mock-address" class="header__link header__link_bold")
                |О нас
            else 
              a(href="/toxin/mock-address" class="header__link")
                |О нас
          li
            a(href="/toxin/mock-address" class="header__link header__link_pseudo")
              |Услуги
          li
            a(href="/toxin/mock-address" class="header__link")
              |Вакансии
          li
            a(href="/toxin/mock-address" class="header__link")
              |Новости
          li
            a(href="/toxin/mock-address" class="header__link header__link_pseudo")
              |Соглашения
        if (user) 
          a(href="/toxin/mock-address" class="header__user")
            |Юлий Цезарь
        else
          .header__button.header__button_border
            +button({type:"border", height: "small", title: "войти"})
          .header__button.header__button_filled
            +button({type: "filled", height: "small", title:"зарегистрироваться"})


