include ../button/button
include ../toxin-logo/toxin-logo

mixin header({ boldAbout, user })
  .header.js-header
    .header__wrapper
      .header__logo
        +toxin-logo
      nav.header__nav.js-header__nav 
        ul.header__ul 
          - 
            const classes = ["header__link"]
            const aboutClasses = ["header__link", boldAbout && "header__link_bold"]
          a(href="/toxin/mock-address" class=aboutClasses)
            |О нас
          .header__link.header__dropdown-title.js-header__dropdown-title.js-header__services
            |Услуги
            .header__dropdown.js-header__dropdown.js-header__dropdown_type_services
              a(href="/toxin/mock-address" class="header__dropdown-item")
                |Прокат машины
              a(href="/toxin/mock-address" class="header__dropdown-item")
                |Уборка номера
          a(href="/toxin/mock-address" class=classes)
            |Вакансии
          a(href="/toxin/mock-address" class=classes)
            |Новости
          .header__link.header__dropdown-title.js-header__dropdown-title.js-header__agreement
            |Соглашения
            .header__dropdown.js-header__dropdown.js-header__dropdown_type_agreement
              a(href="/toxin/mock-address" class="header__dropdown-item")
                |О разглашении
              a(href="/toxin/mock-address" class="header__dropdown-item")
                |О молчании
        if (user) 
          a(href="/toxin/mock-address" class="header__user")
            |Юлий Цезарь
        else
          .header__button.header__sign-in-button
            +button({ themeModifier: "bordered", sizeModifier: "small", title: "войти" })
          .header__button.header__registration-button
            +button({ themeModifier: "filled", sizeModifier: "small", title:"зарегистрироваться" })
      .header__burger.js-header__burger 
        .header__burger-line.js-header__line1
        .header__burger-line.js-header__line2
        .header__burger-line.js-header__line3
