include ../button/button
include ../toxin-logo/toxin-logo

mixin header(boldAbout = true)
  .header
    .header__wrapper
      .header__logo
        +toxin-logo

      nav.header__nav  
        ul.header__ul
          li
            if (boldAbout)
              a(href="" class="header__link header__link_bold")
                |О нас
            else 
              a(href="" class="header__link")
                |О нас
          li
            a(href="" class="header__link header__link_pseudo")
              |Услуги
          li
            a(href="" class="header__link")
              |Вакансии
          li
            a(href="" class="header__link")
              |Новости
          li
            a(href="" class="header__link header__link_pseudo")
              |Соглашения
        .header__button.header__button_border
          +button({type:'border', size: 's', title: 'войти'})
        .header__button.header__button_filled
          +button({type: 'filled',size: 'l', title:'зарегистрироваться'})


