@import '../../theme/variables';

.header {
  width: 100%;
  background: #fff;
  box-shadow: 0 0.625rem 1.25rem $dark5;
  @media (max-width: 1190px) {
    position: relative;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80.6%;
    max-width: 120rem-17.5rem;
  }

  &__logo {
    padding: 0.9375rem 0;
  }

  &__nav {
    display: flex;
    align-items: center;

    @media (max-width: 1190px) {
      position: absolute;
      top: 4.375rem;
      right: 0;
      width: 50%;
      background: #fff;
      flex-direction: column;
      z-index: 101;
      display: none;
    }

    @media (max-width: 425px) {
      width: 100%;
    }
  }

  &__nav_active {
    display: flex;
  }

  &__ul {
    display: flex;
    align-items: stretch;
    @media (max-width: 1190px) {
      padding-left: 0.3125rem;
      flex-direction: column;
      align-items: start;
    }
  }

  &__ul > li {
    list-style-type: none;
    @media (max-width: 1190px) {
      margin: 0.3125rem 0;
    }
  }

  &__dropdown-title {
    margin-right: 1.5625rem;
    position: relative;
    cursor: pointer;

    &::after {
      font-family: Material Icons;
      font-size: 1.5rem;
      content: 'expand_more';
      position: absolute;
      top: -0.1875rem;
    }
  }

  &__dropdown {
    position: absolute;
    display: none;
    background: #fff;
    width: 150%;
    max-width: 18.75rem;
    min-width: 135px;
    z-index: 2;

    &_open {
      display: block;
    }
  }

  &__dropdown-item {
    display: block;
    text-decoration: none;
    color: $dark50;
    margin: 5px;
    @media (max-width: 1190px) {
      margin: 5px 0;
    }
  }
  
  &__link {
    text-decoration: none;
    color: $dark50;
    margin-left: 1.25rem;

    &_bold {
      color: $dark75;
      max-height: 1.25rem;
      font-weight: bold;
    }

    &:visited {
      color: $dark75;
    }
  }

  &__user {
    color: $dark50;
    padding-left: 1.25rem;
    border-left: 0.0625rem solid $dark10;
    line-height: 1.875rem;
    margin-left: 1.25rem;
    text-decoration: none;

    &:visited {
      color: $dark75;
    }
    @media (max-width: 1190px) {
      color: $dark50;
      border: 0;
      padding: 0;
      margin: 0;
    }
  }

  &__button {
    margin-left: 1.25rem;
    height: 2.125rem;
    @media (max-width: 1190px) {
      margin: 0.3125rem 0;
    }
  }

  &__sign-in-button {
    width: 5.4375rem;
  }

  &__registration-button {
    width: 12.25rem;
  }

  &__burger {
    display: none;
    cursor: pointer;
    @media (max-width: 1190px) {
      display: block;
    }
  }

  &__burger-line {
    height: 0.3125rem;
    width: 1.875rem;
    margin: 0.3125rem 0;
    background: $dark50;
  }

  &__line1_active {
    transform: rotate(-45deg) translate(-10px, 4px);
  }

  &__line2_active {
    opacity: 0;
  }
  
  &__line3_active {
    transform: rotate(45deg) translate(-10px, -4px);
  }
}
