.headers-footers{
  background: #F4F4F6;
}
.headers-footers__header{
  margin: 62px 0 40px 0;
}
.headers-footers__add-header,
.headers-footers__footer{
  margin-bottom: 40px;
}
.headers-footers__footer-creative{
  margin: 0 auto;
  max-width: 768px;
  margin-bottom: 140px;
}

