extends ../base/base-ui
include ../../components/logo/logo
include ../../components/header/header
include ../../components/footer-widgets/footer-widgets
include ../../components/copyright-bar/copyright-bar
include ../../components/footer-creative/footer-creative

block title 
  |Headers&footers
block header 
  .headers-footers__logo
    +logo
block main
  .headers-footers
    .headers-footers__header
      +header
    .headers-footers__user-header
      +header(true, true)
    .headers-footers__footer
      +footer-widgets
      +copyright-bar
    .headers-footers__footer-creative
      +footer-creative