.container-cards{
  margin: 68px 140px 140px 140px;
  display: grid;
  grid-template-columns: 380px 380px 320px;
  gap: 40px;
  align-items: start;
}
.cards__column1,
.cards__column2,
.cards__column3{
  display: grid;
  grid-template-rows: auto;
  row-gap: 40px;
}