extends ../../base/base-ui

include ../../../components/search-room/search-room
include ../../../components/registration/registration
include ../../../components/room-check/room-check
include ../../../components/sign-in/sign-in
include ../../../components/calendar/calendar
include ../../../components/room-example/room-example


block title 
  |Cards
block main
  .cards__grid
    .cards__column1
      +search-room
      +registration

    .cards__column2
      +room-check
      +sign-in

    .cards__column3
      .cards__calendar
        +calendar
      +room-example({img:'888.jpg',large:false,number:888,lux:true,price:"9 990",rating:5,comments:145})
      +room-example({img:'840.jpg',number:840,lux:false,price:"9 900",rating:4,comments:65})