<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cards
    include ../../../blocks/favicons/favicons.pug

  body
    include ../../../blocks/logo/logo
    .container-cards
      .cards__column1
        include ../../../project/search-rooms/search-rooms
        include ../../../project/registration/registration

      .cards__column2
        include ../../../project/room-check/room-check
        include ../../../project/sign-in/sign-in

      .cards__column3
        .cards__calendar
          .cards
            include ../../../blocks/calendar/calendar
        include ../../../project/room-example/room-example
        +room-example({img:'888.jpg',large:false,number:888,lux:true,price:"9 990",comments:145,rating:5})
        +room-example({img:'840.jpg',number:840,lux:false,price:"9 900",comments:65,rating:4})
        //- +room-example({img:'450.jpg',large:false,number:77777,lux:true,price:0,rating:5,comments:145})