.cards{
  background: #F4F4F6;
}
.cards__grid{
  margin: 72px auto;
  width: 1160px;
  
  display: grid;
  grid-template-columns: 380px 380px 320px;
  gap: 40px;
  align-items: start;
}
.cards__column1,
.cards__column2,
.cards__column3{
  display: grid;
  grid-template-rows: auto;
  row-gap: 40px;
}