mixin bullet-list(items)
  - var i = 0
  ul.bullet-list__ul
    while i < items.length
      li.bullet-list__item=items[i]
      - i++

//- bullet-list({3,['Нельзя с питомцами','Без вечеринок и мероприятий','Время прибытия — после 13:00, а выезд до 12:00']})
//- bullet-list({3,['Нельзя с питомцами','Без вечеринок и мероприятий','Время прибытия — после 13:00, а выезд до 12:00']})