.form-page__main{
  max-width: 1920px;
  background-image: url('image.jpg');
  
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  
  display: flex;
  flex-direction: column;
}

.form-page__registration,
.form-page__sign-in{
  // иначе форма сжимается
  width: 100%;
  max-width: 380px;
  // 
  align-self: center;
  // justify-self: center;
  
}
.form-page__registration{
  margin: 19px 0;
}
.form-page__sign-in{
  margin: 172px 0;
}

