include ../registration/registration
include ../sign-in/sign-in
include ../footer-widgets/footer-widgets
include ../copyright-bar/copyright-bar

mixin form-page(type)
  .form-page__main
    case type
      when 'registration'
        .form-page__registration
          +registration
      when 'sign-in'
        .form-page__sign-in
          +sign-in