.all-blocks-colors-descr{
    position: absolute;
    left: 150px;
    top: 145px;
    width: 270px;
    height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}