@import '../../helpers.scss';


.checkbox-button__title{
  margin-left: 10px;
  max-width: 200px;
  color: $dark;
  line-height: 18px;
}
.checkbox-button__label{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  cursor: pointer;
}
.checkbox-button__input {
  @include checkbox;
}
