.header-intro__descr_size_h3 Checkbox Buttons

.checkbox-try
    input(id='cb1', type='checkbox',name='may')
    label(for="cb1")
        | Можно курить

input(id='cb1', type='checkbox',name='may', checked)
label(for='cb1') Можно с питомцами

input(id='cb1', type='checkbox', name='may',checked)
label(for='cb1') Можно пригласить гостей (до 10 человек)