@import '../../variables.scss';
@import '../../mixins.scss';


input[id="cb1"] {
  -webkit-appearance: none;
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid $dark-shade-25;
  box-sizing: border-box; 
}
  
input[id="cb1"]:before {
  content: '';
  display: block;
}
  
input[id="cb1"]:checked:before {
  margin-top: 4px;
  box-sizing: border-box; 
  width: 6px;
  height: 8px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  // градиент для галочки
  border-image-slice: 1;
  border-image-source: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
input[id="cb1"]:checked{
  border: 1px solid #BC9CFF;
}

