.header-intro__descr_size_h3 Checkbox Buttons
.checkbox
    
    input(id='smoke', type='checkbox',class='custom-checkbox')
    label(for="smoke") Можно курить
    
    input(id='pet', type='checkbox')
    label(for='pet') Можно с питомцами

    
    input(id='gest', type='checkbox')
    label(for='gest') Можно пригласить гостей (до 10 человек)