@import '../../helpers.scss';

.checkbox-button{
  margin-bottom: 10px;
}
.checkbox-container{
  margin-top: 16px;
}
.checkbox-button__title{
  margin-left: 10px;
  width: 200px;
  @include body-font($dark-shade-50);
  line-height: 18px;
}
.checkbox-button__label{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  cursor: pointer;
  
}
.checkbox-button__input {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid $dark-shade-25;
  box-sizing: border-box; 
  margin: 0;
}
  
input[class=checkbox-button__input]::before {
  content: '';
  display: block;
}
  
input[class=checkbox-button__input]:checked:before {
  margin-top: 4px;
  box-sizing: border-box; 
  width: 6px;
  height: 8px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  // градиент для галочки
  border-image-slice: 1;
  border-image-source: $primary-gradient;
}
input[class=checkbox-button__input]:checked{
  border: 1px solid #BC9CFF;
}

