.header-with-buttons
  img(src="toxin-logo.svg", alt="Toxin logo")
  .header-with-buttons__right
    .header-with-buttons__body-font_deep
        |О нас
    .header-with-buttons__body-font_dark_pseudo
        |Услуги
    .header-with-buttons__body-font_dark
        |Вакансии
    .header-with-buttons__body-font_dark
        |Новости
    .header-with-buttons__body-font_dark_pseudo
        |Соглашения