extends ../../base/base-ui

include ../../../components/header/header
include ../../../components/header/add-header
include ../../../components/footer-widgets/footer-widgets
include ../../../components/copyright-bar/copyright-bar
include ../../../components/footer-creative/footer-creative

block title 
  |Headers&footers
block main
  .headers-footers
    .headers-footers__header
      +header
    .headers-footers__add-header
      +add-header
    .headers-footers__footer
      +footer-widgets
      +copyright-bar
    .headers-footers__footer-creative
      +footer-creative