extends ../../base/base-ui

include ../../../project/header/header
include ../../../project/header/add-header
include ../../../project/footer-widgets/footer-widgets
include ../../../project/copyright-bar/copyright-bar
include ../../../project/footer-creative/footer-creative

block title 
  |Headers&footers
block main
  .headers-footers
    .headers-footers__header
      +header
    .headers-footers__add-header
      +add-header
    .headers-footers__footer
      +footer-widgets
      +copyright-bar
    .headers-footers__footer-creative
      +footer-creative