<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Headers&footers
    include ../../../blocks/favicons/favicons.pug
  body
    .headers-footers
      include ../../../blocks/logo/logo

      include ../../../project/header/header
      include ../../../project/header/add-header
      div
        include ../../../project/footer-widgets/footer-widgets
        include ../../../project/copyright-bar/copyright-bar
      include ../../../project/footer-creative/footer-creative