@import '../../helpers.scss';
.nav-bar{
  width: 1440px;
  height: 70px;
  width: 100%;
  padding: 15px 140px 15px 140px;
  background: #fff;
  margin: 0;

  display: flex;
  justify-content: space-between;
}
.nav-bar__content{
  display: grid;
  grid-template-columns: repeat(7,auto);
  column-gap: 20px;
  margin: auto;
}
.nav-bar__about{
  font-weight: bold;
  
}
.nav-bar__services,
.nav-bar__argeements{
  color: $dark;
  position: relative;
  &::after{
    font-family: Material Icons;
    font-size: 24px;
    content: 'expand_more';

    position: absolute;
    bottom: -9px;
  }
}
.nav-bar__vacancies,
.nav-bar__news,
.nav-bar__name{
  color:$dark;
}
.nav-bar__border{
  border-left: 1px solid $light;
}
