.nav-bar
  include ../../blocks/toxin-logo/toxin-logo.pug
  .nav-bar__content
    p.nav-bar__about
      |О нас
    p.nav-bar__services
      |Услуги
    p.nav-bar__vacancies
      |Вакансии
    p.nav-bar__news
      |Новости
    p.nav-bar__argeements
      |Соглашения
    