mixin convenience(options)
  .convenience__wrapper
    .convenience__img
      img(src=options.img, alt="sign")
    .convenience__text
      .convenience__main-text=options.main
      p=options.secondary



