@import '../../helpers.scss';

.convenience__wrapper{
  width: 100%;
  max-width: 280px;

  display: flex;

  border-bottom: 1px solid $light;
  padding: 23px 5px;
  &:last-child{
    border: none;
    padding-bottom: 0;
  }
}
.convenience__img{
  width: 48px;

  display: flex;
  justify-content: center;
}
.convenience__text{
  margin-left: 10px;
}
.convenience__main-text{
  font-weight: bold;
  margin-bottom: 6px;
}