mixin socials(items)
  .socials
    each item in items 
      a(href=item.href target="_blank" rel="noopener noreferrer")
        -
          const path = "./img/" + item.icon + '.svg'
        img(src=path alt = item.icon + " icon")
