mixin socials
  .socials
    a(href="https://twitter.com/" target="_blank" rel="noopener noreferrer")
      include ./img/twitter.svg
    a(href="https://facebook.com/" target="_blank" rel="noopener noreferrer")
      include ./img/facebook.svg
    a(href="https://instagram.com/" target="_blank" rel="noopener noreferrer")
      include ./img/instagram.svg
