include ../../blocks/text-field/text-field.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/button/_theme_color-border/button_theme_color-border.pug
.registration-form
    .cards
        .cards__title 
            |Регистрация аккаунта
        .cards__small-gap
            +text-field('Имя')

        .cards__small-gap
            +text-field('Фамилия')

        .cards__medium-gap
            include ../../blocks/radio-button/radio-button.pug

        .cards__block-title
            |дата рождения

        .cards__medium-gap
            include ../../blocks/masked-text-field/masked-text-field.pug

        .cards__block-title
            |данные для входа в сервис

        .cards__small-gap
            +text-field('Email')

        .cards__small-gap
            +text-field('Пароль')

        .cards__medium-gap
            +toggle('Получать спецпредложения')

        .cards__big-gap
            include ../../blocks/main-button/main-button.pug
            +main-button('Перейти к оплате')
        .cards__flex
            .cards__body-font
                |Уже есть аккаунт на Toxin
            +border-button('войти')

    