@import '../../helpers.scss';
.registration-form{
    position: absolute;
    width: 380px;
    height: 646px;
    left: 140px;
    top: 564px;

    border: 1px solid rgba(0, 0, 0, 0.12);
    // box-sizing: content-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.registration-form__content{
    margin:40px 30px 30px 30px;
}
.registration-form__title{
    width: 320px;
    @include h1-font-cyrillic;
}
.registration-form__block-title{
    @include h3-font;
}
.registration-form__already-have{
    @include body-font($dark-shade-100);
}
.registration-form__first-name{
    margin-top: 20px;
    margin-bottom: 10px;
}
.registration-form__last-name{
    margin-bottom: 10px;
}
.registration-form__radio-button{
    margin-bottom: 20px;
}
.registration-form__block-title{
    margin-bottom: 5px;
}
.registration-form__birthday{
    margin-bottom: 20px;
}
.registration-form__text-field-email{
    margin-bottom: 10px;
}
.registration-form__toggle{
    margin-bottom: 20px;
}
.registration-form__button-pay{
    margin-bottom: 30px;
}
.registration-form__have-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}