include ../../blocks/toxin-logo/toxin-logo
include ../../blocks/socials/socials

mixin copyright-bar
  .copyright-bar
    .copyright-bar__wrapper
      .copyright-bar__logo
        +toxin-logo
      .copyright-bar__text
        |Copyright © 2018 Toxin отель. Все права зачищены.
      +socials

