include ../../blocks/text-field/text-field.pug
include ../../blocks/main-button/main-button.pug
include ../../blocks/button/_theme_color-border/button_theme_color-border.pug

.sign-in
  h1.sign-in__title
    |Войти
  .sign-in__email
    +text-field('Email')
  .sign-in__password
    +text-field('Пароль')
  .sign-in__main-button
    +main-button('Войти')
  .sign-in__flex
    p.sign-in__text
      |Нет аккаунта на Toxin?
    +border-button('Создать')
