include ../../blocks/text-field/text-field.pug
include ../../blocks/button/button

.sign-in
  h1.sign-in__title
    |Войти
  .sign-in__email
    +text-field('Email')
  .sign-in__password
    +text-field('Пароль')
  .sign-in__main-button
    +button('войти')(class="button_arrow")
  .sign-in__flex
    p.sign-in__text
      |Нет аккаунта на Toxin?
    +button('создать')(class="button_border")
