@import '../../helpers.scss';
.sign-in{
    position: absolute;
    width: 23.75rem;
    height: 22.375rem;
    left: 35rem;
    top: 43.8125rem;

    padding: 2.5rem 1.875rem 1.875rem 1.875rem;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.sign-in__h1{
    @include h1-font-cyrillic;
    margin-bottom: 20px;
}
.sign-in__text-field {
    margin-bottom: 10px;
}
.sign-in__main-button{
    margin-top: 20px;
    margin-bottom: 30px;
}
.sign-in__block-title{
    @include body-font(#000);
}
.sign-in__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}