@import '../../theme/variables.scss';
@import '../../theme/global.scss';

@mixin text-button{
  @include h3-font;
  background:none;
  border:none;
  color:$primary;
  cursor: pointer;
  &:hover{
    color: $dark50;
  }
}
.text-button{
  @include text-button;
}


