@import '../../theme/variables.scss';
.text-button{
  background:none;
  border:none;
  margin:0;
  padding:0;
}
.text-button__title{
  color:$primary;
  cursor: pointer;
  &:hover{
      color: $dark;
  }
}
