@import '../../theme/variables.scss';

@mixin text-button{
  font-family: Montserrat,Arial,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem;
  background:none;
  border:none;
  color:$primary;
  cursor: pointer;
  &:hover{
    color: $dark50;
  }
  padding: 0;
}
.text-button{
  @include text-button;
}


