.header-intro__descr_size_h3 Toggle

input(id='toggle', type='checkbox', name='toggle', class='toggle-button', checked)
label(for="toggle")
    | Получать спецпредложения

input(id='toggle', type='checkbox', name='toggle',class='toggle-button')
label(for="toggle")
    | Получать спецпредложения
