.photo-slider {
  position: relative;
  height: 9.4375rem;

  &__photo {
    width: 100%;
    height: 9.4375rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  
  &__next-button,
  &__prev-button {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    width: 2.625rem;
    height: 100%;
    cursor: pointer;

    &:hover {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
      border-top-left-radius: 0.25rem;

      &::before {
        position: absolute;
        left: 0.625rem;
        font-family: Material Icons;
        font-size: 1.5rem;
        content: 'expand_more';
        color: #fff;
        transform: rotate(90deg);
      }
    }
  }
  
  &__next-button {
    right: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  &__dot-wrapper {
    position: absolute;
    right: 0.875rem;
    bottom: 0.5625rem;
  }

  &__dot {
    display: inline-block;
    width: 0.4375rem;
    height: 0.4375rem;
    border-radius: 50%;
    border: solid 0.0625rem #fff;
    margin: 0.125rem;
    cursor: pointer;
  }
  
  &__dot_active {
    background: #fff;
  }
}
