mixin photo-slider(img)
  .photo-slider__wrapper
    img(src = './img/' + img, alt="photo", class="photo-slider__photo")
    .photo-slider__prev-button
    .photo-slider__next-button

    .photo-slider__dot-wrapper
      .photo-slider__dot.photo-slider__dot_active
      .photo-slider__dot
      .photo-slider__dot
      .photo-slider__dot