.footer-widgets
  .footer-widgets__wrapper
    .footer-widgets__intro
      img(src="toxin-logo.svg", alt="Toxin logo" height="40px")
      p.footer-widgets__text
        |Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    ul(class="footer-widgets__ul")
      li
        h3.footer-widgets__title
          |Навигация
      li
        a(href="" class="footer-widgets__item")
          |О нас
      li
        a(href="" class="footer-widgets__item")
          |Новости
      li
        a(href="" class="footer-widgets__item")
          |Служба поддержки
      li
        a(href="" class="footer-widgets__item")
          |Услуги

    ul(class="footer-widgets__ul")
      li
        h3.footer-widgets__title
          |О нас
      li
        a(href="" class="footer-widgets__item")
          |О сервисе
      li
        a(href="" class="footer-widgets__item")
          |Наша команда
      li
        a(href="" class="footer-widgets__item")
          |Вакансии
      li
        a(href="" class="footer-widgets__item")
          |Инвесторы

    ul(class="footer-widgets__ul")
      li
        h3.footer-widgets__title
          |Служба поддержки
      li
        a(href="" class="footer-widgets__item")
          |Соглашения
      li
        a(href="" class="footer-widgets__item")
          |Сообщества
      li
        a(href="" class="footer-widgets__item")
          |Связь с нами

    .footer-widgets__subscribe
      h3.footer-widgets__title
        |Подписка
      p.footer-widgets__item
        |Получайте специальные предложения и новости сервиса
      include ../../blocks/subscription/subscription.pug



    