.footer-widgets
  .footer-widgets__grid
    .footer-widgets__first-grid
      img(src="toxin-logo.svg", alt="Toxin logo")
      p
        |Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .footer-widgets__list
      h3.footer-widgets__list-title
        |Навигация
      p.footer-widgets__list-element
        |О нас
      p.footer-widgets__list-element
        |Новости
      p.footer-widgets__list-element
        |Служба поддержки
      p.footer-widgets__list-element
        |Услуги

    .footer-widgets__list
      h3.footer-widgets__list-title
        |О нас
      p.footer-widgets__list-element
        |О сервисе
      p.footer-widgets__list-element
        |Наша команда
      p.footer-widgets__list-element
        |Вакансии
      p.footer-widgets__list-element
        |Инвесторы

    .footer-widgets__list
      h3.footer-widgets__list-title
        |Служба поддержки
      p.footer-widgets__list-element
        |Соглашения
      p.footer-widgets__list-element
        |Сообщества
      p.footer-widgets__list-element
        |Связь с нами

    .footer-widgets__last-grid
      h3.footer-widgets__list-title
        |Подписка
      p.footer-widgets__list-element
        |Получайте специальные предложения и новости сервиса
      include ../../blocks/subscription-text-field/subscription-text-field.pug



    