@import '../../helpers.scss';

.footer-widgets{
  width: 1440px;
  height: 443px;
  background: #fff;

  padding: 100px 140px 100px 140px;
}

.footer-widgets__grid{
  display: grid;
  grid-template-columns: 260px 160px 160px 160px 260px;
  grid-gap: 40px;
}
.footer-widgets__first-grid{
  display: grid;
  grid-template-rows: 40px 72px;
  row-gap: 20px;
}
.footer-widgets__list{
  display: grid;
  grid-template-rows: 15px 18px 18px 18px;
  grid-row-gap: 20px;
}
.footer-widgets__list-title{
  margin-bottom: 1px;
  line-height: 125%;
}
.footer-widgets__list-element{
  color:$dark;
}
.footer-widgets__last-grid{
  display: grid;
  grid-template-rows: 15px 48px 44px;
  row-gap: 20px;
}

