.comfort__wrapper
    .comfort__box
        .comfort__face
            img(src="insert_emoticon.svg", alt="smiling face")
        .comfort__text
            .comfort__text_bold
                |Комфорт
            .comfort__text_normal
                |Шумопоглощающие стены
    .comfort__box
        .comfort__city
            img(src="location_city.svg", alt="city")
        .comfort__text
            .comfort__text_bold
                |Удобство
            .comfort__text_normal
                |Окно в каждой из спален