mixin room-info(items)
  each item in items
    -
      const order = {
        first: "room-info_order_first"
      } 
      const border = {
        disable: "room-info_border_disable"
      }
      var classes = "room-info "
      order[item.order] ? classes = classes + order[item.order] : ""
      border[item.border] ? classes = classes + border[item.border] : ""
      

    div(class=classes)
      .room-info__sign=item.sign
      .room-info__text
        .room-info__title=item.title
        .room-info__details=item.text