mixin room-info(options)
  if options.walls === true 
    .room-info
      .room-info__sign 
        |insert_emoticon
      .room-info__text
        .room-info__main-text
          |Комфорт
        div
          |Шумопоглощающие стены

  if options.window === true 
    .room-info
      .room-info__sign
        |location_city
      .room-info__text
        .room-info__main-text
          |Удобство
        div
          |Окно в каждой из спален

  if options.fire === true 
    .room-info.room-info_without-border
      .room-info__sign
        |whatshot
      .room-info__text
        .room-info__main-text
          |Уют
        div
          |Номер оснащён камином

  



