@import '../../theme/variables.scss';

.room-info__wrapper{
  width: 100%;
  max-width: 280px;

  display: flex;
  align-items: center;
  padding: 23px 0 18px 0;
  border-bottom: 1px solid $dark10;

}
.room-info__wrapper_without-border {
  border: none;
}
.room-info__sign{
  font-family: Material Icons;
  font-size: 48px;

  background:-moz-linear-gradient(top, $primary 0%, #8BA4F9 100%); 
  background: -webkit-linear-gradient(top, $primary 0%,#8BA4F9 100%); 
  background: linear-gradient(to bottom, $primary 0%,#8BA4F9 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color:transparent;
}
.room-info__text{
  margin-left: 10px;
  
}
.room-info__main-text{
  font-weight: bold;
  margin-bottom: 6px;
}