@import 'all-blocks-colors-descr/all-blocks-colors-descr.scss';
@import 'all-blocks-hn-descr/all-blocks-hn-descr.scss';
.container-colors-type{
    display: flex;
    justify-content: space-between;
    margin: 63px 191px 145px 150px;
}