@import '../../../theme/variables.scss';
.colors-type__wrapper{
  display: grid;
  grid-template-columns: 285px 436px;
  grid-column-gap: 411px;
  margin-top: 67px;
  margin-right: 158px;
  margin-left: 150px;
}