extends ../../base/base-ui

include ../../../components/color-intro/color-intro
include ../../../components/font-intro/font-intro

block title
  |Colors&type
block main 
  .colors-type__wrapper
    .colors-type__color-intro
      +color-intro('Dark Shade 100%','#1f2041')(class="color-intro__block_original")
      +color-intro('Dark Shade 75%','#1f2041')(class="color-intro__block_deep")
      +color-intro('Dark Shade 50%','#1f2041')(class="color-intro__block_dark")
      +color-intro('Dark Shade 25%','#1f2041')(class="color-intro__block_medium")
      +color-intro('Dark Shade 5%','#1f2041')(class="color-intro__block_lightest")
      +color-intro('Purple','#Bc9cff')(class="color-intro__block_primary")
      +color-intro('Green','#6fcf97')(class="color-intro__block_secondary")

    .colors-type__font-intro
      +font-intro("h1","This one is the sub-section or widget title")
      +font-intro("h2","Next one is the item title inside widgets")
      +font-intro("h3","this is a label or cta text")
      +font-intro("Body","This is the body text which is used for most of the design, like paragraphs, lists, etc.")
        