@import '../../theme/variables.scss';

.toggle {
  &__title{
    margin-left: 0.625rem;
  }
  &__label{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  
    cursor: pointer;
  }
  &__input {
    display: flex;
    align-items: center;
    width: 2.5rem;
    height: 1.25rem;
    -webkit-appearance: none;
    border-radius: 0.625rem;
    border: 0.0625rem solid $dark25;
    cursor: pointer;
    &::before {
      display: block;
      content: '';
      margin-left: 0.1875rem;
      width: 0.75rem;
      height: 0.75rem;
      background: $dark25;
      border-radius: 50%;
    }
    &:checked{
      border: 0.0625rem solid $primary;
      &::before{
        margin-left: 1.4375rem;
        background: $primary-gradient;
      }
    }
  }
}

