mixin calendar_separate(titleStart, titleEnd)
  form
    .calendar_separate
      .calendar__block
        h3.calendar__title=titleStart
        .calendar__input
          input(type="text" class="calendar__start js-calendar__start", placeholder="ДД.ММ.ГГГГ")
          .calendar__expand 
            |expand_more
      .calendar__block
        h3.calendar__title=titleEnd
        .calendar__input
          input(type="text" class="calendar__end js-calendar__end", placeholder="ДД.ММ.ГГГГ")
          .calendar__expand 
            |expand_more

