@import '../../../theme/variables.scss';
@import '../../../theme/global.scss';

.calendar_separate {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.calendar__block{
  width: 46.88%;
}
@media (max-width: 400px) {
  .calendar_separate{
    flex-direction: column;
    align-items: center;
  }
  .calendar__block{
    width: 100%;
  }
}