mixin color-blocks(color,numb)
    .color-intro 
        .color-intro__color-block
            div(class!=attributes.class)
        .color-intro__color-descr
            .color-intro__color-descr_color-name=color
            .color-intro__color-descr_number=numb

mixin fonts-descr(f,d)
    .header-intro
        .header-intro__hn
            div(class!=attributes.class1)=f
        .header-intro__descr
            div(class!=attributes.class2)=d


