mixin checkbox-button({checked, rich, major, minor})
  label(class = "checkbox-button")
    input(class = "checkbox-button__input", type = "checkbox", checked = (checked))
    if (rich)
      .checkbox-button__rich-item
        span.checkbox-button__major-title=major
        span.checkbox-button__minor-title=minor
    else 
      span.checkbox-button__item-title=major
    