@import '../../helpers.scss';
.main-button{
    position:relative;
    width: 100%;
    max-width: 20rem;
    height: 2.75rem;
    border-radius: 1.375rem;
    border:none;
    background: $primary-gradient;
    
    &::after{
        position: absolute;
        top:0.625rem;
        right: 0.625rem;

        @include icons-font;
        content: "arrow_forward";
        color: #fff;
        
    }
}
.main-button__title{
    @include h3-font;
    color: #fff;
}