
.header-intro__descr_size_h3 like button

input(id='like-button', type='checkbox', class='like-button', checked)
label(for="like-button", class='element') 
    |12
//- <i class="material-icons">add</i>