
//- .header-intro__descr_size_h3 like button
  
.like-button-container 
    label(class='like-button__label')
        .like-button__wrapper
            input(class='like-button__input', type='checkbox')
            .like-button__icon
            .like-button__title 2
        
    