@import '../../variables.scss';
@import "~material-design-icons/iconfont/material-icons.css"; //этот импорт надо куда-то глобальнее перенести

// скрываем дефолтный чекбокс
input[id='like-button'] {
    position: absolute;
    opacity: 0;
}
.like-button-container {
    width: 40px;
    height: 20px;
}
label[for=like-button]{
    display: block;
    width: 40px;
    height: 20px;
    border: 1px solid $dark-shade-25;
    color: $dark-shade-25;
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 10px;
    box-sizing: border-box;
    line-height: 12px;

}


label[for=like-button]::before {
    font-family: 'Material Icons';
    content: "favorite_border";
    font-size: 10px;
    // line-height: 9px;
    color:$dark-shade-25;
    line-height: 9px;
    margin-left: 6px;
}

input[id='like-button']:checked + label::before {
    font-family: 'Material Icons';
    content: "favorite";
    box-sizing: border-box;
    color: $purple;
    // line-height: 9px;
}

input[id='like-button']:checked + label {
    position: relative;
    box-sizing: border-box;
    border: 1px;
    background: white;
    color: $purple;
    background-clip: padding-box; /* !importanté */
    border: solid 1px transparent; /* !importanté */
    border-radius: 10px;
    &::after {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -1px; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
}