mixin rich-checkbox(options)
  label(class='rich-checkbox__label')
    .rich-checkbox__title
      p.rich-checkbox__major=options.major
      p.rich-checkbox__minor=options.minor
    input(class='rich-checkbox__input', type='checkbox')

.rich-checkbox
  +rich-checkbox({major:"Широкий коридор",minor:"Ширина коридоров в номере не менее 91 см."})
  +rich-checkbox({major:"Помощник для инвалидов",minor:"На 1 этаже вас встретит специалист  и проводит до номера."})