@import '../../theme/variables.scss';

.text-field{
  &__title {
    margin-bottom: 0.3125rem;
  }
  &__input {
    width: 100%;
    max-width: 20rem;
    min-width: 9.375rem;
    @include text-field__frame;
    padding: 0.875rem 0.875rem 0.8125rem;
    @include placeholder{
      font-family: Montserrat, Arial, sans-serif;
      font-size: 0.875rem;
      color: $dark25;
    }
    &:hover,
    &:focus{
      border: 0.0625rem solid $dark50;
      &::placeholder{
        font-family: Montserrat, Arial, sans-serif;
        font-size: 0.875rem;
        color: $dark75;
      }
    }
  }
}


