@import '../../theme/variables';

.text-field {
  width: 100%;
  max-width: 20rem;
  min-width: 9.375rem;

  &__title {
    margin-top: 0;
    margin-bottom: 0.3125rem;
    color: $dark100;
    text-transform: uppercase;
    font-size: 0.75rem;
  }

  &__input {
    @include text-field-frame;
    width: 100%;
    padding: 0.875rem 0.875rem 0.7813rem;
    outline: none;
    @include placeholder {
      font-family: Montserrat, Arial, sans-serif;
      font-size: 0.875rem;
      color: $dark25;
    }

    &:hover,
    &:focus {
      border: 0.0625rem solid $dark50;
      
      &::-webkit-input-placeholder {
        font-family: Montserrat, Arial, sans-serif;
        font-size: 0.875rem;
        color: $dark75;
      }
      
      &::-moz-placeholder {
        font-family: Montserrat, Arial, sans-serif;
        font-size: 0.875rem;
        color: $dark75;
      }
      
      &:-ms-input-placeholder {
        font-family: Montserrat, Arial, sans-serif;
        font-size: 0.875rem;
        color: $dark75;
      }
      
      &::-ms-input-placeholder {
        font-family: Montserrat, Arial, sans-serif;
        font-size: 0.875rem;
        color: $dark75;
      }
      
      &::placeholder {
        font-family: Montserrat, Arial, sans-serif;
        font-size: 0.875rem;
        color: $dark75;
      }
    }
  }
}
