include ../rate-button/rate-button
include ../room-title/room-title
include ../photo-slider/photo-slider

mixin room-example({img, number, lux, price, rating, comments})
  .room-example
    +photo-slider({img})
    .room-example__inner
      +room-title({large, number,lux,price})
      .room-example__bottom-info
        .room-example__border
        .room-example__feedback
          +rate-button({rating})
          .room-example__row-info
            .room-example__comments-number=comments
            .room-example__comments.
              Отзывов
