include ../rate-button/rate-button
include ../room-title/room-title
include ../photo-slider/photo-slider

mixin room-example(options)
  .room-example
    +photo-slider({img: options.img})
    .room-example__inner
      +room-title({large:options.large,number:options.number,lux:options.lux,price:options.price})
      .room-example__bottom-info
        .room-example__border
        .room-example__feedback
          +rate-button(options.rating)
          .room-example__row-info
            .room-example__comments-number=options.comments
            .room-example__comments.
              Отзывов
