.footer-creative
  .footer-creative__inner
    include ../../blocks/toxin-logo/toxin-logo.pug
    p.footer-creative__copyright
      |Copyright © 2018 Toxin отель. Все права зачищены.
    include ../../blocks/socials/socials.pug