include ../../blocks/toxin-logo/toxin-logo
include ../../blocks/socials/socials

mixin footer-creative
  .footer-creative
    .footer-creative__wrapper
      +toxin-logo
      p.footer-creative__copyright.
        Copyright © 2018 Toxin отель. Все права зачищены.
      +socials