.footer-creative{
  width: 768px;
  height: 367px;
  background: #fff;

  margin-top: 40px;
  margin-left: 336px;
  padding: 120px 104px 120px 104px;
}
.footer-creative__inner{
  display: flex;
  flex-direction:column;
  align-items: center;
}
.footer-creative__copyright{
  margin-top: 20px;
  margin-bottom: 25px;
  
}