@import '../../../theme/variables.scss';
.layout{
  display: flex;
	flex-direction: column;
  min-height: 100%;
  &__header{
    flex: 0 0 auto;
  }
  &__main{
    flex: 1 0 auto;
  }
  &__footer{
    border-top: 0.0625rem solid $dark25;
    flex: 0 0 auto;
  }
}