include ../text-field/text-field
include ../toggle/toggle
include ../button/button
include ../radio-button/radio-button
include ../masked-text-field/masked-text-field

mixin registration({ buttonTitle })
  form
    .registration
      h1.registration__title 
        |Регистрация аккаунта

      .registration__firstname
        +text-field({placeholder: "Имя"})

      .registration__lastname
        +text-field({placeholder: "Фамилия"})

      .registration__radio-button
        +radio-button 

      .registration__birthday
        +masked-text-field({title: "дата рождения"})

      h3.registration__block-title
        |данные для входа в сервис

      .registration__email
        +text-field({placeholder: "Email"})

      .registration__password
        +text-field({placeholder: "Пароль"})

      .registration__toggle
        +toggle({title: "Получать спецпредложения", checked: false})

      .registration__main-button
        +button({themeModifier:"arrow", title: buttonTitle})
      .registration__account
        p.registration__text
          |Уже есть аккаунт на Toxin
        +button({themeModifier: "bordered", title: "войти"})

    