include ../text-field/text-field
include ../toggle/toggle
include ../button/button
include ../radio-button/radio-button
include ../masked-text-field/masked-text-field

mixin registration
  .registration
    h1.registration__title 
      |Регистрация аккаунта

    .registration__firstname
      +text-field('Имя')

    .registration__lastname
      +text-field('Фамилия')

    .registration__radio-button
      +radio-button 

    .registration__birthday
      +masked-text-field('дата рождения')

    h3.registration__block-title
      |данные для входа в сервис

    .registration__email
      +text-field('Email')

    .registration__password
      +text-field('Пароль')

    .registration__toggle
      +toggle('Получать спецпредложения')

    .registration__button-arrow
      +button({type:'arrow',title:'перейти к оплате'})
    .registration__flex
      p.registration__text
        |Уже есть аккаунт на Toxin
      +button({type: 'border', size: 'm', title: 'войти'})

    