@import '../../theme/variables.scss';

.registration{
  width: 100%;
  max-width: 380px;
  
  padding:39px 29px 30px;

  @include card-wrapper;
}
.registration__title {
  margin-bottom: 20px;
  line-height: 125%;
}
.registration__firstname{
  margin-bottom: 10px;
}
.registration__lastname{
  margin-bottom: 10px;
}
.registration__radio-button{
  margin-bottom: 22px;
}
.registration__birthday{
  margin-bottom: 21px;
}
.registration__email {
  margin-bottom: 10px;
}
.registration__password {
  margin-bottom: 10px;
}

.registration__toggle{
  margin-bottom: 25px;
}
.registration__block-title{
  margin-bottom: 5px;
}
.registration__button-arrow{
  margin-bottom: 30px;
}
.registration__text{
  color: #000;
}
.registration__flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
