@import '../../theme/variables.scss';

.registration{
  width: 100%;
  min-width: 320px;
  max-width: 380px;
  
  padding:39px 29px 30px;

  @include card-wrapper;

  &__title {
    margin-bottom: 20px;
    line-height: 125%;
  }
  &__firstname{
    margin-bottom: 11px;
  }
  &__lastname{
    margin-bottom: 10px;
  }
  &__radio-button{
    margin-bottom: 22px;
  }
  &__birthday{
    margin-bottom: 21px;
  }
  &__email {
    margin-bottom: 10px;
  }
  &__password {
    margin-bottom: 10px;
  }
  
  &__toggle{
    margin-bottom: 25px;
  }
  &__block-title{
    margin-bottom: 5px;
  }
  &__button-arrow{
    margin-bottom: 30px;
  }
  &__text{
    color: #000;
  }
  &__account{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

